<?xml version="1.0"?>
<AppSettings>
  <!--API SEARCH FR PYTHON-->
  <add key="UrlAPI" value="http://172.16.7.71:80"/>
  <add key="KeyAPI" value="TGFjdmlldC1RQS1XZWJBUEk="/>
  <!--API DELL && Digipro -->
  <!--<add key="UrlDell" value="https://api.dell.com/support/assetinfo/v4/"/>-->
  <add key="UrlDell" value="http://115.78.151.197:8887/DELL/"/>
    <!--<add key="UrlDigipro" value="http://115.78.151.197:8887/api/WebPeace/"/>-->
  <add key="UrlDigipro" value="http://172.16.19.241:8888/DIGIPRO.API.WP/api/WebPeace/"/>
  <add key="UrlDigiproNotifyService" value="http://115.78.151.197:8889/NoticationServices/api/Facebook/"/>
  <!--API SEARCH ElasticSearch-->
  <add key="UrlSearchAPI" value="http://172.16.13.135:9200"/>
  <add key="Domain" value="http://localhost:54160/" />
  <!--Facebook-->
  <add key="AccessToken" value="EAAhdfR3uJyYBAC3Af74l0eB92vGj4rom6PZAmIJg32cwwnmPoCmCnr6Hf1Y0ZAxyvbVuPjazIwWi1h4lppZAPbDSLBakjFdojM02Ipk2rOnjvfCTyzBTCwmUv4CZATIxLNflL7cmbkYeZAfuZBf9CgElNyFmKHLdb9gtb5ZAnI1owZDZD"/>
  <add key="AppSecret" value="b96c034c788c2d1862e75d0dfe3f1f96" />
  <add key="VerifyTokenWebHook" value="lacviet_bot_chat" />
  <!--Zalo-->

  <!--SmsMsgService-->
  <add key="AccessCode" value="SureHis"/>
  <add key="SecretKey" value="Lv@HospitalMngt"/>
  <add key="SecureExtension" value="xJBrDX"/>
  
  <!--PATH Excell-->
  <add key="ExcelTemplateTemptPath1" value="D:\\HDHUY_V.1\\BotProject\\ExcelImport\\" />
  
  <!--Timeout-->
  <add key="TimeOutProactiveMessageSecond" value="300"/>
  
  <!--ConnectionStringDb-->
  <!--<add key="SqlConnection" value="Data Source=DESKTOP-G3HVFOD;Initial Catalog=BotProject;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />-->
  <!--<add key="SqlConnection" value="Data Source=172.16.10.126\SQL2014;Initial Catalog=BotProject;Integrated Security=False;User Id=qa;Password=SureLMS.SQL2014;MultipleActiveResultSets=True;"/>-->
  <add key="SqlConnection" value="Data Source=HDHUY\SQLEXPRESS2014;Initial Catalog=BotProject;Integrated Security=False; User Id=sa;Password=hdhuy.sql2014;MultipleActiveResultSets=True"/>


  <!--Key chat admin-->
  <!--<add key="AdminContact" value="postback_card_6100"/>-->
  <add key="AdminContact" value="chat chuyên viên"/>
  <add key="TitlePayloadAdminContact" value="👉 Chat với chuyên viên"/>
    
  <!--Key T7CN 0:OFF 1:ON-->
  <add key="T7CN" value="0"/>

  <!--BRANCH VOUCHER TEST-->
  <add key="T_HCM" value="postback_card_8318"/>
  <add key="T_HN" value="postback_card_8319"/>
  <add key="T_DN" value="postback_card_8320"/>
  <add key="T_CT" value="postback_card_8321"/>
  <!--BRANCH VOUCHER DIGIPRO-->
  <add key="HCM" value="postback_card_8322"/>
  <add key="HN" value="postback_card_8323"/>
  <add key="DN" value="postback_card_8324"/>
  <add key="CT" value="postback_card_8325"/>

  <!--CARD RESEND SMS-->
  <add key="CARD_RESEND_SMS" value="CARD_RESEND_SMS"/>
  
  <!--MESSAGE SMS-->
  <add key="MSG_SMS" value="Mã e-voucher của Anh/Chị là {{stt}}, vui lòng mang máy đến chi nhánh để được phục vụ. Trân trọng!"/>

  <add key="KeySpeechReconition" value="74ea791c21504fc5b6fd4978cce6d6e0"/>
</AppSettings>
