<?xml version="1.0"?>
<AppSettings>
  <!--API SEARCH FR PYTHON-->
  <add key="UrlAPI" value="http://172.16.7.71:80"/>
  <add key="KeyAPI" value="TGFjdmlldC1RQS1XZWJBUEk="/>
  <!--API SEARCH ElasticSearch-->
  <add key="UrlSearchAPI" value="http://172.16.13.105:9200"/>
  <add key="Domain" value="http://localhost:54160/" />
  
  <!--Facebook-->
  <add key="AccessToken" value="abccxvcxv" />
  <add key="VerifyTokenWebHook" value="lacviet_bot_chat" />
</AppSettings>
