<?xml version="1.0"?>
<AppSettings>
  <!--API SEARCH FR PYTHON-->
  <add key="UrlAPI" value="http://172.16.7.71:80"/>
  <add key="KeyAPI" value="TGFjdmlldC1RQS1XZWJBUEk="/>
  <!--API DELL && Digipro -->
  <add key="UrlDell" value="https://api.dell.com/support/assetinfo/v4/"/>
  <add key="UrlDigipro" value="http://172.16.19.241:8888/DIGIPRO.API.WP/api/WebPeace/"/>
  <!--API SEARCH ElasticSearch-->
  <add key="UrlSearchAPI" value="http://172.16.13.105:9200"/>
  <add key="Domain" value="http://localhost:54160/" />
  <!--Facebook-->
  <add key="AccessToken" value="EAAhdfR3uJyYBAC3Af74l0eB92vGj4rom6PZAmIJg32cwwnmPoCmCnr6Hf1Y0ZAxyvbVuPjazIwWi1h4lppZAPbDSLBakjFdojM02Ipk2rOnjvfCTyzBTCwmUv4CZATIxLNflL7cmbkYeZAfuZBf9CgElNyFmKHLdb9gtb5ZAnI1owZDZD"/>
  <add key="AppSecret" value="b96c034c788c2d1862e75d0dfe3f1f96" />
  <add key="VerifyTokenWebHook" value="lacviet_bot_chat" />
  <!--Zalo-->

  <!--SmsMsgService-->
  <add key="AccessCode" value="SureHis"/>
  <add key="SecretKey" value="Lv@HospitalMngt"/>
  <add key="SecureExtension" value="xJBrDX"/>
  
  <!--PATH Excell-->
  <add key="ExcelTemplateTemptPath1" value="D:\\HDHUY_V.1\\BotProject\\ExcelImport\\" />
  
  <!--Timeout-->
  <add key="TimeOutProactiveMessageSecond" value="300"/>
  
  <!--ConnectionStringDb-->
  <add key="Data Source=172.16.10.126\SQL2014;Initial Catalog=BotProject;Integrated Security=False;User Id=qa;Password=SureLMS.SQL2014;MultipleActiveResultSets=True;"/>

<!--Key chat admin-->
  <add key="AdminContact" value="postback_card_6100"/>
  <add key="TitlePayloadAdminContact" value="👉 Chat với chuyên viên"/>
</AppSettings>
