._a28 {
    overflow: hidden;
}

._a2e {
    display: inline-block;
    left: 0;
    position: relative;
    transition: left 500ms ease-out;
    white-space: nowrap;
}

._2zgz {
    display: inline-block;
    vertical-align: middle;
}

#bootloader_LZvma {
    height: 42px;
}

.bootloader_LZvma {
    display: block !important;
}
