._2kdf {
    display: inline-block;
    vertical-align: text-bottom;
}

._3hyi ._53ij {
    border: 1px solid #ce002f;
    color: #ce002f;
}

._n2c ._53ij, ._3hyi ._53ij {
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .35);
    max-width: 334px;
    padding: 6px 8px;
    white-space: pre-line;
}

._n2c ._5v-0, ._3hyi ._5v-0 {
    padding-bottom: 14px;
}

._n2c ._53il, ._3hyi ._53il {
    padding-top: 14px;
}

._n2c ._53im, ._3hyi ._53im {
    padding-right: 14px;
}

._n2c ._53im, ._3hyi ._53ik {
    padding-bottom: 14px;
}

._n2c ._53in, ._3hyi ._53in {
    padding-left: 14px;
}

._n2c ._53il ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/ymaruJl2Pjp.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -635px;
}

._3hyi ._53il ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/iA2YcECCccr.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -393px;
}

._n2c ._53il ._53io, ._3hyi ._53il ._53io {
    height: 8px;
    top: 7px;
    width: 16px;
}

._n2c ._53im ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/ymaruJl2Pjp.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -51px -431px;
}

._3hyi ._53im ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/iA2YcECCccr.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -9px -367px;
}

._n2c ._53im ._53io, ._3hyi ._53im ._53io {
    height: 16px;
    right: 7px;
    width: 8px;
}

._n2c ._53ik ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/ymaruJl2Pjp.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -40px -359px;
}

._3hyi ._53ik ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/iA2YcECCccr.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -384px;
}

._n2c ._53ik ._53io, ._3hyi ._53ik ._53io {
    bottom: 7px;
    height: 8px;
    width: 16px;
}

._n2c ._53in ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/ymaruJl2Pjp.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -51px -414px;
}

._n2c ._53in ._53io {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/iA2YcECCccr.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -367px;
}

._n2c ._53in ._53io, ._3hyi ._53in ._53io {
    height: 16px;
    left: 7px;
    width: 8px;
}

._1vor {
    margin: 0;
    padding: 0;
}

    ._1vor + ._1vor {
        padding-top: 12px;
    }

._3wef {
    outline: none;
}

._3wee {
    float: right;
}

._3weg {
    color: #0454a3;
    cursor: pointer;
}

._23n- {
    position: relative;
}

._32rk {
    position: absolute;
}

    ._32rk._32rg {
        /*left: 0;*/
        left:-25px;
    }

    ._32rk._32rh {
        right: 0;
    }

    ._32rk._1cy5 {
        left: 50%;
        transform: translateX(-50%);
    }

    ._32rk._32ri {
        top: 0;
    }

    ._32rk._32rj {
        bottom: 0;
    }

    ._32rk._1cy6 {
        top: 50%;
        transform: translateY(-50%);
    }

._541d {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 1px 4px;
    outline: none;
    vertical-align: text-bottom;
}

._3blz {
    padding: 15px;
}

.sp_3mEBojq7p0T {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/jPT8Tnn7RPP.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

    .sp_3mEBojq7p0T.sx_16ecde {
        width: 8px;
        height: 8px;
        background-position: -292px -994px;
    }

    .sp_3mEBojq7p0T.sx_eb213a {
        width: 8px;
        height: 8px;
        background-position: -292px -1010px;
    }

    .sp_3mEBojq7p0T.sx_610b93 {
        width: 8px;
        height: 8px;
        background-position: -292px -1026px;
    }

    .sp_3mEBojq7p0T.sx_a0ceed {
        width: 8px;
        height: 8px;
        background-position: -292px -1042px;
    }

    .sp_3mEBojq7p0T.sx_2d854f {
        width: 8px;
        height: 8px;
        background-position: -292px -1233px;
    }

    .sp_3mEBojq7p0T.sx_771144 {
        width: 60px;
        height: 60px;
        background-position: -224px -1324px;
    }

    .sp_3mEBojq7p0T.sx_4a28f7 {
        width: 60px;
        height: 60px;
        background-position: -77px -1385px;
    }

    .sp_3mEBojq7p0T.sx_f19264 {
        width: 60px;
        height: 60px;
        background-position: -138px -1385px;
    }

    .sp_3mEBojq7p0T.sx_e208ec {
        width: 60px;
        height: 60px;
        background-position: -199px -1385px;
    }

    .sp_3mEBojq7p0T.sx_058a88 {
        width: 50px;
        height: 50px;
        background-position: -244px -1517px;
    }

    .sp_3mEBojq7p0T.sx_955378 {
        width: 7px;
        height: 7px;
        background-position: -293px -977px;
    }

    .sp_3mEBojq7p0T.sx_61ae58 {
        width: 7px;
        height: 7px;
        background-position: -293px -1059px;
    }

    .sp_3mEBojq7p0T.sx_3fb555 {
        width: 7px;
        height: 7px;
        background-position: -276px -1304px;
    }

    .sp_3mEBojq7p0T.sx_df7939 {
        height: 12px;
        background-position: -204px -1735px;
    }

    .sp_3mEBojq7p0T.sx_1656c7 {
        height: 14px;
        background-position: -153px -1735px;
    }

    .sp_3mEBojq7p0T.sx_8abcc8 {
        height: 14px;
        background-position: -170px -1735px;
    }

    .sp_3mEBojq7p0T.sx_d432f3 {
        width: 17px;
        height: 13px;
        background-position: -276px -944px;
    }

    .sp_3mEBojq7p0T.sx_799c5a {
        width: 17px;
        height: 13px;
        background-position: -276px -958px;
    }

    .sp_3mEBojq7p0T.sx_0983dd {
        width: 17px;
        height: 13px;
        background-position: -275px -977px;
    }

    .sp_3mEBojq7p0T.sx_854a30 {
        width: 15px;
        height: 12px;
        background-position: -285px -1324px;
    }

    .sp_3mEBojq7p0T.sx_0a8ec4 {
        width: 17px;
        height: 15px;
        background-position: -276px -898px;
    }

    .sp_3mEBojq7p0T.sx_a5daa8 {
        width: 17px;
        height: 14px;
        background-position: -276px -914px;
    }

    .sp_3mEBojq7p0T.sx_677dfb {
        height: 13px;
        background-position: -187px -1735px;
    }

    .sp_3mEBojq7p0T.sx_f0a9c4 {
        width: 17px;
        height: 14px;
        background-position: -276px -929px;
    }

    .sp_3mEBojq7p0T.sx_4c7399 {
        width: 91px;
        height: 90px;
        background-position: 0 -795px;
    }

    .sp_3mEBojq7p0T.sx_0076df {
        width: 91px;
        height: 90px;
        background-position: -92px -795px;
    }

    .sp_3mEBojq7p0T.sx_b30d25 {
        width: 76px;
        height: 78px;
        background-position: 0 -1385px;
    }

    .sp_3mEBojq7p0T.sx_affb87 {
        width: 91px;
        height: 90px;
        background-position: -184px -795px;
    }

    .sp_3mEBojq7p0T.sx_1a1a3c {
        width: 90px;
        height: 90px;
        background-position: -184px -977px;
    }

    .sp_3mEBojq7p0T.sx_6279fe {
        width: 90px;
        height: 90px;
        background-position: 0 -1068px;
    }

    .sp_3mEBojq7p0T.sx_faa9ea {
        width: 90px;
        height: 90px;
        background-position: -91px -1068px;
    }

    .sp_3mEBojq7p0T.sx_f077c5 {
        width: 91px;
        height: 90px;
        background-position: 0 -886px;
    }

    .sp_3mEBojq7p0T.sx_69d486 {
        width: 91px;
        height: 90px;
        background-position: -92px -886px;
    }

    .sp_3mEBojq7p0T.sx_036d8b {
        width: 91px;
        height: 90px;
        background-position: -184px -886px;
    }

    .sp_3mEBojq7p0T.sx_5cf8f4 {
        width: 90px;
        height: 90px;
        background-position: -182px -1068px;
    }

    .sp_3mEBojq7p0T.sx_5e6225 {
        width: 90px;
        height: 73px;
        background-position: 0 -1250px;
    }

    .sp_3mEBojq7p0T.sx_44dee4 {
        width: 90px;
        height: 90px;
        background-position: 0 -1159px;
    }

    .sp_3mEBojq7p0T.sx_c2ca71 {
        width: 90px;
        height: 90px;
        background-position: -91px -1159px;
    }

    .sp_3mEBojq7p0T.sx_9d9d74 {
        width: 90px;
        height: 90px;
        background-position: -182px -1159px;
    }

    .sp_3mEBojq7p0T.sx_243a76 {
        width: 91px;
        height: 90px;
        background-position: 0 -977px;
    }

    .sp_3mEBojq7p0T.sx_78c0a2 {
        width: 91px;
        height: 90px;
        background-position: -92px -977px;
    }

    .sp_3mEBojq7p0T.sx_318af7 {
        width: 60px;
        height: 60px;
        background-position: 0 -1464px;
    }

    .sp_3mEBojq7p0T.sx_b781a0 {
        width: 60px;
        height: 60px;
        background-position: -61px -1464px;
    }

    .sp_3mEBojq7p0T.sx_bd0e68 {
        width: 61px;
        height: 60px;
        background-position: -162px -1324px;
    }

    .sp_3mEBojq7p0T.sx_79b9a9 {
        width: 60px;
        height: 60px;
        background-position: -122px -1464px;
    }

    .sp_3mEBojq7p0T.sx_19de5f {
        width: 60px;
        height: 60px;
        background-position: -183px -1464px;
    }

    .sp_3mEBojq7p0T.sx_08acd0 {
        width: 60px;
        height: 60px;
        background-position: 0 -1525px;
    }

    .sp_3mEBojq7p0T.sx_838ab1 {
        width: 60px;
        height: 60px;
        background-position: -61px -1525px;
    }

    .sp_3mEBojq7p0T.sx_982e52 {
        width: 60px;
        height: 60px;
        background-position: -122px -1525px;
    }

    .sp_3mEBojq7p0T.sx_c29902 {
        width: 60px;
        height: 60px;
        background-position: -183px -1525px;
    }

    .sp_3mEBojq7p0T.sx_991b81 {
        width: 60px;
        height: 60px;
        background-position: 0 -1586px;
    }

    .sp_3mEBojq7p0T.sx_225f36 {
        width: 60px;
        height: 60px;
        background-position: -61px -1586px;
    }

    .sp_3mEBojq7p0T.sx_99f538 {
        width: 60px;
        height: 60px;
        background-position: -122px -1586px;
    }

    .sp_3mEBojq7p0T.sx_0479fa {
        width: 60px;
        height: 60px;
        background-position: -183px -1586px;
    }

    .sp_3mEBojq7p0T.sx_5f70ab {
        width: 60px;
        height: 60px;
        background-position: 0 -1647px;
    }

    .sp_3mEBojq7p0T.sx_7a9732 {
        width: 60px;
        height: 60px;
        background-position: -61px -1647px;
    }

    .sp_3mEBojq7p0T.sx_76126b {
        width: 60px;
        height: 60px;
        background-position: -122px -1647px;
    }

    .sp_3mEBojq7p0T.sx_19a361 {
        width: 60px;
        height: 60px;
        background-position: -183px -1647px;
    }

    .sp_3mEBojq7p0T.sx_03cbd2 {
        width: 26px;
        height: 26px;
        background-position: -273px -1068px;
    }

    .sp_3mEBojq7p0T.sx_d71129 {
        width: 26px;
        height: 26px;
        background-position: -273px -1095px;
    }

    .sp_3mEBojq7p0T.sx_005759 {
        width: 22px;
        height: 24px;
        background-position: -276px -795px;
    }

    .sp_3mEBojq7p0T.sx_d9ae61 {
        width: 26px;
        height: 26px;
        background-position: -273px -1122px;
    }

    .sp_3mEBojq7p0T.sx_bb1e6d {
        width: 26px;
        height: 26px;
        background-position: -273px -1149px;
    }

    .sp_3mEBojq7p0T.sx_d03eaf {
        width: 26px;
        height: 26px;
        background-position: -273px -1176px;
    }

    .sp_3mEBojq7p0T.sx_171614 {
        width: 26px;
        height: 26px;
        background-position: -273px -1203px;
    }

    .sp_3mEBojq7p0T.sx_bc0f9d {
        width: 26px;
        height: 26px;
        background-position: -267px -1250px;
    }

    .sp_3mEBojq7p0T.sx_dbc1db {
        width: 26px;
        height: 26px;
        background-position: -267px -1277px;
    }

    .sp_3mEBojq7p0T.sx_5b697f {
        width: 26px;
        height: 26px;
        background-position: -260px -1385px;
    }

    .sp_3mEBojq7p0T.sx_cfb05b {
        width: 26px;
        height: 26px;
        background-position: -260px -1412px;
    }

    .sp_3mEBojq7p0T.sx_ca1a45 {
        width: 26px;
        height: 26px;
        background-position: -244px -1670px;
    }

    .sp_3mEBojq7p0T.sx_59f6eb {
        width: 26px;
        height: 21px;
        background-position: -135px -1710px;
    }

    .sp_3mEBojq7p0T.sx_3ed9d4 {
        width: 26px;
        height: 21px;
        background-position: -162px -1708px;
    }

    .sp_3mEBojq7p0T.sx_e3e872 {
        width: 26px;
        height: 26px;
        background-position: -271px -1670px;
    }

    .sp_3mEBojq7p0T.sx_d16b4c {
        width: 26px;
        height: 26px;
        background-position: 0 -1708px;
    }

    .sp_3mEBojq7p0T.sx_d1801c {
        width: 26px;
        height: 26px;
        background-position: -27px -1708px;
    }

    .sp_3mEBojq7p0T.sx_0a3c85 {
        width: 26px;
        height: 26px;
        background-position: -54px -1708px;
    }

    .sp_3mEBojq7p0T.sx_76e63c {
        width: 26px;
        height: 26px;
        background-position: -81px -1708px;
    }

    .sp_3mEBojq7p0T.sx_533c30 {
        width: 26px;
        height: 26px;
        background-position: -108px -1708px;
    }

    .sp_3mEBojq7p0T.sx_92c8b7 {
        width: 80px;
        height: 60px;
        background-position: -95px -1250px;
    }

    .sp_3mEBojq7p0T.sx_04fdd4 {
        width: 80px;
        height: 60px;
        background-position: 0 -1324px;
    }

    .sp_3mEBojq7p0T.sx_144c56 {
        width: 52px;
        height: 52px;
        background-position: -244px -1464px;
    }

    .sp_3mEBojq7p0T.sx_570d11 {
        width: 50px;
        height: 50px;
        background-position: -244px -1568px;
    }

    .sp_3mEBojq7p0T.sx_2b000b {
        width: 80px;
        height: 60px;
        background-position: -81px -1324px;
    }

    .sp_3mEBojq7p0T.sx_7a1cd4 {
        width: 80px;
        height: 60px;
        background-position: -183px -1250px;
    }

    .sp_3mEBojq7p0T.sx_35fe92 {
        width: 300px;
        height: 189px;
        background-position: 0 -225px;
    }

    .sp_3mEBojq7p0T.sx_28bf0b {
        width: 300px;
        height: 224px;
        background-position: 0 0;
    }

    .sp_3mEBojq7p0T.sx_42008f {
        width: 300px;
        height: 189px;
        background-position: 0 -415px;
    }

    .sp_3mEBojq7p0T.sx_2ea4a7 {
        width: 300px;
        height: 189px;
        background-position: 0 -605px;
    }

    .sp_3mEBojq7p0T.sx_cce8cb {
        width: 8px;
        height: 8px;
        background-position: -275px -1059px;
    }

    .sp_3mEBojq7p0T.sx_6d706d {
        width: 8px;
        height: 8px;
        background-position: -284px -1059px;
    }

    .sp_3mEBojq7p0T.sx_047d26 {
        width: 8px;
        height: 8px;
        background-position: -267px -1304px;
    }

    .sp_3mEBojq7p0T.sx_a95d17 {
        background-position: -275px -991px;
    }

    .sp_3mEBojq7p0T.sx_38070c {
        background-position: -275px -1008px;
    }

    .sp_3mEBojq7p0T.sx_d7ea6b {
        background-position: -275px -1025px;
    }

    .sp_3mEBojq7p0T.sx_84ac56 {
        background-position: -275px -1042px;
    }

    .sp_3mEBojq7p0T.sx_ad0e2c {
        background-position: -273px -1230px;
    }

    .sp_3mEBojq7p0T.sx_32a680 {
        background-position: -77px -1446px;
    }

    .sp_3mEBojq7p0T.sx_9f50a8 {
        background-position: -94px -1446px;
    }

    .sp_3mEBojq7p0T.sx_224ab8 {
        background-position: -111px -1446px;
    }

    .sp_3mEBojq7p0T.sx_d624ff {
        width: 7px;
        height: 7px;
        background-position: -284px -1304px;
    }

    .sp_3mEBojq7p0T.sx_452d72 {
        width: 7px;
        height: 7px;
        background-position: -292px -1304px;
    }

    .sp_3mEBojq7p0T.sx_6912cf {
        width: 7px;
        height: 7px;
        background-position: -91px -1314px;
    }

    .sp_3mEBojq7p0T.sx_203fe5 {
        width: 7px;
        height: 7px;
        background-position: -99px -1314px;
    }

    .sp_3mEBojq7p0T.sx_7c7872 {
        width: 7px;
        height: 7px;
        background-position: -107px -1314px;
    }

    .sp_3mEBojq7p0T.sx_27eb83 {
        width: 12px;
        height: 12px;
        background-position: -285px -1337px;
    }

    .sp_3mEBojq7p0T.sx_945ba7 {
        background-position: -128px -1446px;
    }

    .sp_3mEBojq7p0T.sx_022ad5 {
        background-position: -145px -1446px;
    }

    .sp_3mEBojq7p0T.sx_fb934b {
        background-position: -162px -1446px;
    }

    .sp_3mEBojq7p0T.sx_1a7c02 {
        background-position: -179px -1446px;
    }

    .sp_3mEBojq7p0T.sx_5bc5ae {
        width: 12px;
        height: 12px;
        background-position: -285px -1350px;
    }

    .sp_3mEBojq7p0T.sx_7acff7 {
        background-position: -196px -1446px;
    }

    .sp_3mEBojq7p0T.sx_f8dd89 {
        background-position: -213px -1446px;
    }

    .sp_3mEBojq7p0T.sx_31aa63 {
        background-position: -230px -1446px;
    }

    .sp_3mEBojq7p0T.sx_f7c141 {
        background-position: -247px -1446px;
    }

    .sp_3mEBojq7p0T.sx_88d03e {
        width: 12px;
        height: 12px;
        background-position: -285px -1363px;
    }

    .sp_3mEBojq7p0T.sx_cd5964 {
        width: 12px;
        height: 12px;
        background-position: -287px -1385px;
    }

    .sp_3mEBojq7p0T.sx_e16c8f {
        background-position: -264px -1446px;
    }

    .sp_3mEBojq7p0T.sx_21e367 {
        background-position: -281px -1446px;
    }

    .sp_3mEBojq7p0T.sx_083b4d {
        width: 12px;
        height: 12px;
        background-position: -287px -1398px;
    }

    .sp_3mEBojq7p0T.sx_b987d6 {
        background-position: -189px -1708px;
    }

    .sp_3mEBojq7p0T.sx_da95ae {
        width: 12px;
        height: 12px;
        background-position: -287px -1411px;
    }

    .sp_3mEBojq7p0T.sx_ce6a51 {
        width: 12px;
        height: 12px;
        background-position: -287px -1424px;
    }

    .sp_3mEBojq7p0T.sx_77a036 {
        width: 12px;
        height: 12px;
        background-position: -221px -1735px;
    }

    .sp_3mEBojq7p0T.sx_e50185 {
        background-position: -206px -1708px;
    }

    .sp_3mEBojq7p0T.sx_54b980 {
        width: 12px;
        height: 12px;
        background-position: -234px -1735px;
    }

    .sp_3mEBojq7p0T.sx_f62c00 {
        background-position: -223px -1708px;
    }

    .sp_3mEBojq7p0T.sx_7e3bad {
        width: 12px;
        height: 12px;
        background-position: -247px -1735px;
    }

    .sp_3mEBojq7p0T.sx_d816ae {
        background-position: -240px -1708px;
    }

    .sp_3mEBojq7p0T.sx_c745d2 {
        background-position: -257px -1708px;
    }

    .sp_3mEBojq7p0T.sx_f89e07 {
        width: 12px;
        height: 12px;
        background-position: -260px -1735px;
    }

    .sp_3mEBojq7p0T.sx_cb5058 {
        width: 12px;
        height: 12px;
        background-position: -273px -1735px;
    }

    .sp_3mEBojq7p0T.sx_820add {
        width: 12px;
        height: 12px;
        background-position: -286px -1735px;
    }

    .sp_3mEBojq7p0T.sx_f3598a {
        background-position: -274px -1708px;
    }

    .sp_3mEBojq7p0T.sx_6b3ffb {
        background-position: 0 -1735px;
    }

    .sp_3mEBojq7p0T.sx_a6aed9 {
        width: 20px;
        height: 20px;
        background-position: -276px -820px;
    }

    .sp_3mEBojq7p0T.sx_e898e7 {
        background-position: -17px -1735px;
    }

    .sp_3mEBojq7p0T.sx_a845b9 {
        background-position: -34px -1735px;
    }

    .sp_3mEBojq7p0T.sx_3f72bc {
        background-position: -51px -1735px;
    }

    .sp_3mEBojq7p0T.sx_65eb21 {
        background-position: -68px -1735px;
    }

    .sp_3mEBojq7p0T.sx_9f9751 {
        background-position: -85px -1735px;
    }

    .sp_3mEBojq7p0T.sx_6e4fbe {
        width: 12px;
        height: 12px;
        background-position: 0 -1752px;
    }

    .sp_3mEBojq7p0T.sx_b8b243 {
        background-position: -102px -1735px;
    }

    .sp_3mEBojq7p0T.sx_2b4327 {
        background-position: -119px -1735px;
    }

    .sp_3mEBojq7p0T.sx_bcba14 {
        width: 20px;
        height: 20px;
        background-position: -276px -841px;
    }

    .sp_3mEBojq7p0T.sx_48732a {
        background-position: -136px -1735px;
    }

    .sp_3mEBojq7p0T.sx_5a29cb {
        width: 50px;
        height: 50px;
        background-position: -244px -1619px;
    }

    .sp_3mEBojq7p0T.sx_56d5b8 {
        width: 9px;
        height: 9px;
        background-position: -282px -866px;
    }

    .sp_3mEBojq7p0T.sx_d00d63 {
        width: 9px;
        height: 9px;
        background-position: -282px -884px;
    }

#bootloader_7PZtu {
    height: 42px;
}

.bootloader_7PZtu {
    display: block !important;
}
