@{
    ViewBag.Title = "Search Engineer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var area = (IEnumerable<BotProject.Model.Models.MdArea>) ViewBag.MdArea;
}
<link href="~/assets/client/libs/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/assets/client/libs/KendoUI/styles/kendo.metro.min.css" rel="stylesheet" />
<link href="~/assets/client/libs/KendoUI/kendo.custom.css" rel="stylesheet" />
<style>
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 780px;
            margin: 1.75rem auto;
        }
    }
        .k-table {
    width: 100%;
    border-spacing: 0;
    margin: 0 0 0em;
}
            .k-table, .k-table td, .k-table th {
    outline: 0;
    border: 1px solid #555;
}

</style>
<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pageheader-title p-t-20">
        <div class="d-flex">
            <h5 class="pageheader-title">Search QnA</h5>

            <div class="toolbar ml-auto p-r-10">
                <a href="#" class="btn btn-success btn-sm "><i class="fas fa-sync-alt"></i> Save and retrain</a>
                <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i> Publish</a>
            </div>
        </div>
        <div class="d-flex">
            <p style="font-size:13pt;padding-left:20px;color:darkblue;text-decoration:underline" id="search-label" for="search-terms"><i class="fas fa-search"></i> Test search</p>
            <div class="ml-auto" style="font-size:13px;padding-right:100px">Retrained 2 phút trước</div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- form search -->
<!-- ============================================================== -->
<div id="searchcontainer">
    <div id="search">
        <input type="text" name="search-terms" id="search-terms" placeholder="Tìm kiếm..." autocomplete="off">

        <button type="button" class="btn btn-all" id="btnSearch">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>

        <a class="close-form-search"></a>
        <div id="div-suggest" jscontroller="tg8oTe" class="UUbT9" style="display:none;padding-left:13%;padding-right:13%" jsname="UUbT9" jsaction="h5M12e;mouseover:IgJl9c;mouseout:ItzDCd;mouseleave:MWfikb;YMFC3:VKssTb">
            <div class="RjPuVb" jsname="RjPuVb" style="display: none; width: 0px;"></div>
            <div class="aajZCb" jsname="aajZCb">
                <ul class="erkvQe" jsname="erkvQe" role="listbox" id="ul-suggest"></ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12 col-12" style="height:700px;overflow-y:auto;overflow-x:hidden">
            <div class="card">
                <h5 class="card-header" id="header-search" style="display:none;">Danh sách tìm kiếm</h5>

                <ul class="list-group list-group-flush" id="ul-list-search"></ul>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header" style="background-color:lightgray">
            <div class="row">
                <div class="col-lg-6">
                    <p>KNOWLEDGE BASE | 2 QnA pairs</p>
                </div>
                <div class="col-lg-6">
                    <a href="#" style="float:right;" data-toggle="modal" data-target="#excelQnAModal"><i class="fa fa-upload"></i>Import Excel</a>
                    <a href="javascript:void(0);" style="float:right;margin-right:10px" id="openQnaModel"><i class="fa fa-plus-circle"></i>Add new QnA pair</a>
                </div>
                <div class="modal fade" id="addQnAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add QnA Marker</h5>
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </a>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1" class="font-medium-v2">Lĩnh vực</label>
                                        @Html.DropDownList("AreaID", new SelectList(area, "ID", "Name"), "----- Tất cả -----")
                                    </div>
                                    <input type="hidden" id="quesID" value=""/>
                                    <input type="hidden" id="ansID" value="" />
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1" class="font-medium-v2">Câu hỏi</label>
                                        <span class="placeholderkd opacity05" style="z-index:1000;position: absolute"></span>
                                        <div id="txtQuestion" style="height:200px" class="EditorArticles"></div>
                                        @*<textarea class="form-control" id="txtQuestion" rows="3"></textarea>*@
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1" class="font-medium-v2">Trả lời</label>
                                        <span class="placeholderkd opacity05" style="z-index:1000;position: absolute"></span>
                                        <div id="txtAnswer" style="height:250px" class=""></div>
                                        #Ký tự: <span id="count"></span>
                                        @*<textarea class="form-control" id="txtAnswer" rows="3"></textarea>*@
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" class="btn btn-primary" id="btnAdd">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="excelQnAModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Import Excel QnA Marker</h5>
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </a>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="input-group input-file">
                                        <input class="form-control" placeholder='Choose a file...' type="file" name="file" id="file" />
                                        @*<span class="input-group-btn">
                                                <button class="btn btn-default btn-choose" type="button">Choose</button>
                                            </span>*@
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="importExcelQnA()">Upload</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="table-qna">
                <table class="table table-striped table-bordered table-sm" id="table-data">
                    <thead>
                        <tr>
                            <th scope="col" style="width:1%"></th>
                            <th scope="col" style="width:41%">Câu hỏi</th>
                            <th scope="col" style="width:43%">Trả lời</th>
                            <th scope="col" style="width:15%">Lĩnh vực</th>
                        </tr>
                    </thead>
                    <tbody id="table-data-training"></tbody>
                </table>
            </div>
            <nav class="pagination pagination_type1">
                <ol class="pagination__list" id="pagination-list"></ol>
                <div class="pagination__list m-l-20">
                    <select id="results-pp">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="100">100</option>
                        <option value="All">Tất cả</option>
                    </select>
                    <span class="m-l-10">Số lượng hiển thị</span>
                </div>
                <span id="pagination-text-number-show" style="margin:10px 10px 0 auto"></span>
            </nav>
        </div>
    </div>
</div>

@section footerJS{
<script src="~/assets/client/libs/KendoUI/js/kendo.all.min.js"></script>
<script src="~/assets/client/libs/KendoUI/js/cultures/kendo.culture.vi-VN.min.js"></script>
<script src="~/assets/client/libs/KendoUI/custom-kendo.js"></script>
<script src="~/assets/client/js/moduleCategory/search.js"></script>
}
