@{
    ViewBag.Title = "Bot History Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
    }

    .k-table {
        width: 100%;
        border-spacing: 0;
        margin: 0 0 0em;
    }

        .k-table, .k-table td, .k-table th {
            outline: 0;
            border: 1px solid #555;
            font-size:13px;
        }
        .table thead th, .table th {
            font-size:13px;
            text-align:center;
            line-height:3;
        }
    .w60 {
        width: 60%;
    }

    .action-area {
        margin-right: 10px;
        font-size: 10px;
    }
    .table-responsive{
        height:450px;
    }
    .table tbody tr td {
        font-size: 11pt;
    }
    .colorbot_understands{
        color:brown;
    }

</style>
<style>

    .breadcrumb {
        padding: .75rem 1rem;
    }
    .tab-content{
        border-top: 1px solid #e6e6f2;
    }
    .nav-pills li {
        font-size: 15px;
        padding: 10px;
        width: 15%;
        text-align: center;
        background-color:#eee;
    }

        .nav-pills li a {
            color: #3f51b5;
        }

        .nav-pills li.active {
            background-color: #3f51b5;
        }

            .nav-pills li.active a {
                color: white;
            }
</style>

<style>
    /* The container */
.containerChk {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerChk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerChk:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerChk input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerChk input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerChk .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
<style>
.k-grid .k-grid-content {
  height: 700px;
}
</style>
<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<input type="hidden" id="botId" value="@ViewBag.BotID" />
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pageheader-title p-b-10">
        <div class="d-flex col-lg-4 col-md-4 col-sm-4 p-b-10" style="border-bottom: 1px solid #e6e6f2;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home" href="javascript:void(0)">@ViewBag.BotName</i></li>
                <li class="breadcrumb-item active">Lịch sử</li>
            </ol>             
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div id="exTab1" class="tab-menu">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#bot-history" data-toggle="tab">Lịch sử thao tác</a>
                </li>
                <li>
                    <a href="#bot-voucher" data-toggle="tab">Voucher</a>
                </li>
            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="bot-history">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Tìm kiếm:</span>
                            <span class="choice-details">
                                <input type="radio" checked id="rAll" name="rr" style="display:inline-block !important" />
                                <label for="r1"><span></span>Tất cả</label>
                                <input type="radio" id="rFacebook" name="rr" style="display:inline-block !important" />
                                <label for="r2"><span></span>Facebook</label>
                                <input type="radio" id="rZalo" name="rr" style="display:inline-block !important" />
                                <label for="r3"><span></span>Zalo</label>
                            </span>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:5px;">
                        <div class="col-md-4" style="border-right:1px solid #ccc">
                            <label class="containerChk">
                                Bot không hiểu và Search NLP tìm không thấy
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="containerChk">
                                Bot hiểu trả lời theo kịch bản
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-md-4" style="border-right:1px solid #ccc">
                            <label class="containerChk">
                                Không tìm thấy trong kịch bản
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="containerChk">
                                Nhấn nút
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="containerChk">
                                Gọi NLP API trong cấu hình
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive" id="table-qna">
                                <table class="table table-striped table-bordered table-sm" id="table-data">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width:10%">Thời gian</th>
                                            <th scope="col" style="width:15%">UserName</th>
                                            <th scope="col" style="width:25%">Người dùng nói</th>
                                            <th scope="col" style="width:15%">Bot nhận diện</th>
                                            <th scope="col" style="width:20%">Bot xử lý</th>
                                            <th scope="col" style="width:15%">Ứng dụng</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-data-training"></tbody>
                                </table>
                            </div>
                            <nav class="pagination pagination_type1">
                                <ol class="pagination__list" id="pagination-list"></ol>
                                <div class="pagination__list m-l-20">
                                    <select id="results-pp">
                                        <option value="5">5</option>
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="100">100</option>
                                        <option value="All">Tất cả</option>
                                    </select>
                                    <span class="m-l-10">Số lượng hiển thị</span>
                                </div>
                                <span id="pagination-text-number-show" style="margin:10px 10px 0 auto"></span>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="bot-voucher">
                    <div class="col-md-12">
                        <div class="col-md-12" style="padding-bottom:5px;padding-top:5px">
                            <span class="choice-details" style="float:right">
                                <a class="btn btn-success btn-sm" onclick="exportExcel()" style="display:inline-block !important">
                                    <i class="ace-icon fa fa-file-excel-o bigger-120"></i>
                                    Export
                                </a>                               
                            </span>                            
                        </div>
                        
                    </div>
                    <div style="clear: both;"></div>
                    <div class="card">
                        <div class="card-body">
                            @*<div class="table-responsive" id="table-voucher">
                                <table class="table table-striped table-bordered table-sm" id="table-data-voucher">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width:5%">STT</th>
                                            <th scope="col" style="width:5%">Mã Phiếu</th>
                                            <th scope="col" style="width:15%">Trạng thái</th>
                                            <th scope="col" style="width:10%">Số điện thoại</th>
                                            <th scope="col" style="width:10%">Mã OTP</th>
                                            <th scope="col" style="width:15%">Kỹ thuật viên</th>
                                            <th scope="col" style="width:15%">Voucher</th>
                                            <th scope="col" style="width:15%">Ngày nhận</th>
                                            <th scope="col" style="width:10%">Ứng dụng</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-data-item-voucher"></tbody>
                                </table>
                            </div>
                            <nav class="pagination pagination_type1">
                                <ol class="pagination__list" id="pagination-list-voucher"></ol>
                                <div class="pagination__list m-l-20">
                                    <select id="results-pp-voucher">
                                        <option value="5">5</option>
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="100">100</option>
                                        <option value="All">Tất cả</option>
                                    </select>
                                    <span class="m-l-10">Số lượng hiển thị</span>
                                </div>
                                <span id="pagination-text-number-show-voucher" style="margin:10px 10px 0 auto"></span>
                            </nav>*@
                            <div id="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footerJS{
    <script src="~/assets/client/js/history.js"></script>
    <script>
        $('.nav-pills li a').click(function (e) {
            $('.nav-pills li').removeClass('active');
            $(this).parent().addClass('active');

        })
    </script>
}
