@model IEnumerable<BotProject.Web.Models.ModuleViewModel>
@{
    ViewBag.Title = "CardCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.8.0/jquery.selectBoxIt.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/client/css/card.css" rel="stylesheet" />
<link href="~/assets/client/css/components.css" rel="stylesheet" />
<link href="~/assets/client/libs/emoji-picker/css/emoji.css" rel="stylesheet" />
<style>
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 650px;
            margin: 1.75rem auto;
        }
    }
</style>
<input type="hidden" id="botId" value="@ViewBag.BotID" />
<div id="sidenav-module" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavModule()">&times;</a>
    <div id="template-module">
        <a href="#" style="text-decoration:underline" id="module-name">Tìm kiếm</a>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Đường dẫn API</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Đường dẫn api" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">API Key</label>
                    <div class="row" style="margin:unset;">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" placeholder="x-api-key" class="form-control" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" placeholder="2Zhldc3aq1" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">API Param</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" placeholder="params" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Nhập câu gợi ý khi không tìm thấy</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea name="data2[default]" maxlength="640" class="form-control required" placeholder="Vui lòng nhập nội dung">Bạn đã nhập sai định dạng, vui lòng nhập lại!</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Nút luồng tiếp theo</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <select data-live-search="true" class="form-control selectKeyword checkvalid" id="mdCardSearch"></select>
                    </div>
                </div>
                <div class="form-group">
                    <button id="saveMdSearch" class="btn btn-default">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block-card">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fa fa-home" href="javascript:void(0)">@ViewBag.BotName</i></li>
                        <li class="breadcrumb-item active">Tạo thẻ</li>
                    </ol>
                    @*<h5 class="pageheader-title p-l-10 p-t-10">Thiết lập thẻ</h5>*@
                </div>
                <div>
                    <div class="card-body">
                        <div class="content-wrapper">
                            <!-- Form horizontal -->
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <div id="build">
                                    </div>
                                    <hr>
                                    <button type="button" class="btn btn-default addBlock" onclick="addBlock()"><i class="icon-plus22 fa fa-plus"></i> Thêm Nhóm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="layout-card" style="display:none">
    <aside class="page-aside">
        <div class="aside-content">
            <div class="aside-header">
                <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button">
                    <span class="icon"><i class="fas fa-caret-down"></i></span>
                </button>
                <span class="title"><i class="fa fa-arrow-left" style="font-size:11px"></i> <span id="groupCardName" style="text-decoration:underline;cursor:pointer;text-transform:uppercase"></span><span style="float:right;cursor:pointer;" id="btn-create-card"><i class="fa fa-plus-circle"></i></span></span>
                <p class="description">Tạo thẻ trả lời cho bot</p>
            </div>
            <div class="aside-nav collapse">
                <ul class="nav" id="lst-card" style="height: 350px;overflow-y: auto;"></ul>
            </div>
        </div>
    </aside>
    <div class="main-content container-fluid p-0" id="form-card" style="display:none;">
        <input type="hidden" id="idCard" value="" />
        <div class="card-head">
            <div class="card-head-title">
                <div class="title">
                    <a class="active" href="#"><span class="icon"><i class="fas fa-pencil-alt"></i></span></a>
                    <span><input type="text" maxlength="240" id="card-name" placeholder="Tên Thẻ" autocomplete="off"></span>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-6">
                        <label class="containerChk" id="container-chk-condition">

                        </label>
                        <label class="containerChk" id="container-chk-condition-by-area-button">

                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="icons" style="float:right">
                            <a href="#" class="icon" id="save_card">
                                <i class="fas fa-save"></i>
                            </a>
                            <a href="#" class="icon" id="delete_card">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-head-template">
                <div class="addCard">
                    <ul class="list-inline">
                        <li class="card_galery"><i class="fa fa-copy"></i><span>Thẻ hình và chữ</span></li>
                        <li class="card_text"><i class="fa fa-file"></i><span>Thẻ văn bản</span></li>
                        <li class="card_list disable"><i class="fa fa-list-alt"></i><span>Danh sách</span></li>
                        <li class="card_image"><i class="fa fa-image"></i><span>Hình ảnh</span></li>
                        <li class="card_file"><i class="fa fa-file-archive"></i><span>Tệp tin</span></li>
                        <li class="card_module"><i class="fa fa-plug"></i><span>Mô-đun</span></li>
                        <li class="card_quickReply"><i class="fab fa-flickr"></i><span>Trả lời nhanh</span></li>
                        <li class="card_attribute"><i class="fa fa-edit"></i><span>Thêm biến</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="wr_multi" class="scroll">
                <div id="multi">
                </div>
            </div>
        </div>
        <div class="card-quickreply">
            <div id="wr_reply" style="display: none;">
                <h3><i class="icon-primitive-dot position-left"></i>Trả lời nhanh <span class="rm_wrReply"><i class="icon-bin"></i></span></h3>
                <ul id="blReply" class="list-inline">
                    <li class="add_reply">
                        <div class="name-button"><i class="icon-plus2 fa fa-plus position-left"></i> Thêm trả lời nhanh</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-attribute">
            <div id="wr_attribute" style="display: none;">
                <h3><i class="icon-primitive-dot position-left"></i>Thêm biến <span class="rm_wrReply"><i class="icon-bin"></i></span></h3>
                <select id="kosd6cci9qypdyebv1fmdfikl7w9523g_select_var_0" class="dm-card-input"><option value="" disabled="disabled" selected="selected">Chọn biến</option> <option value="+">+ Thêm mới biến</option> <option value="channel">channel</option><option value="currency">currency</option><option value="i" disabled="disabled">i</option><option value="link_url">link_url</option><option value="location_city">location_city</option><option value="location_country">location_country</option><option value="location_county" disabled="disabled">location_county</option><option value="location_full_address">location_full_address</option><option value="location_latitude">location_latitude</option><option value="location_longitude">location_longitude</option><option value="location_route">location_route</option><option value="location_street_number">location_street_number</option><option value="nlp_predict">nlp_predict</option><option value="otp">otp</option><option value="sender_id">sender_id</option><option value="sender_input">sender_input</option><option value="sender_name">sender_name</option><option value="topup_amount">topup_amount</option><option value="topup_phone">topup_phone</option><option value="transfer_amount">transfer_amount</option><option value="transfer_otp">transfer_otp</option><option value="transfer_toaccount">transfer_toaccount</option></select>
            </div>
        </div>
        <div id="modal_button" class="modal fade in" style="display: none;">

        </div>
    </div>
    <!--modal form attribute-->
    <div class="modal fade" id="modalCreateAttribute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display:none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm biến</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="card-header" style="background-color:lightgray">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>BIẾN CÀI ĐẶT</p>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" style="float:right;"><i class="fa fa-plus-circle"></i>Thêm biến</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding:unset !important">
                        <div class="table-responsive" id="table-qna">
                            <table class="table table-striped table-bordered table-sm" id="table-data">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:10%"></th>
                                        <th scope="col" style="width:30%">Tên biến</th>
                                        <th scope="col" style="width:30%">Kiểu</th>
                                        <th scope="col" style="width:30%">Tiện ích</th>
                                    </tr>
                                </thead>
                                <tbody id="table-data-training">
                                    <tr>
                                        <td>1</td>
                                        <td onclick="viewQnA(10443,10443)">sender_id</td>
                                        <td>text</td>
                                        <td>
                                            <a href="#" style="padding-right:8px"><i class="fa fa-edit"></i></a>
                                            <a href="#"><i class="fa fa-trash-alt"></i></a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav class="pagination pagination_type1">
                            <ol class="pagination__list" id="pagination-list"></ol>
                            <div class="pagination__list m-l-20">
                                <select id="results-pp">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="100">100</option>
                                    <option value="All">Tất cả</option>
                                </select>
                                <span class="m-l-10">Số lượng hiển thị</span>
                            </div>
                            <span id="pagination-text-number-show" style="margin:10px 10px 0 auto"></span>
                        </nav>
                    </div>
                </div>
                <div class="modal-footer">
                    <table class="table" style="margin-bottom: 5px;">
                        <tr>
                            <td style="width: 25%; padding-right: 0px;border-right:none !important">
                                <input id="txt_variable_name" placeholder="Biến" class="form-control">
                            </td>
                            <td style="border-right:none !important">
                                <select class="form-control">
                                    <option value="text">Văn bản</option>
                                    <option value="number">Số</option>
                                    <option value="email">Email</option>
                                    <option value="url">Url</option>
                                </select>
                            </td>
                            <td style="width: 6%;border-right:none !important">
                                <button title="Lưu" class="icon-btn" style="font-size: 18px;">
                                    <i class="fa fa-save"></i>
                                </button>
                            </td>
                            <td style="width: 6%;border-right:none !important">
                                <button title="Hủy" class="icon-btn" style="font-size: 18px;">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    @*<a href="#" class="btn btn-primary" id="btnSaveBotQnA">Save</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section footerJS{
    <script>
        var pageTokenZalo = "6xbC0GR1p4ONlK442SxCG1UpHGWErwGzJl1EOIVycbnxnNXB0CceTM7MMcqXoezkRj5IIWhHWLvIpN1k4R6ILtEKKbnZYfXBEuzqTJw9kp0bateJIP6L2bFfP2iau8iNV-zTCXJwb19FycWyKTsp0oZJQZDYwRyhAP1A2pEUcnaff6OXChgk2Kx6VIaXol0jSyeER17hy79nxI1k3VRDU4J8DdapkzXgGw8PAZ-jyYDcZG0WDfMF8NovG6K4kBni794tTm68o4TPgn46QIXAk740tSP8&oaId=1991768888787015631";
        var pageTokenFacebook = "";
        var lstModule = @Html.Raw(Json.Encode(Model));
        console.log(lstModule)
        function module() {
            var html = '';
            if (lstModule.length != 0) {
                $.each(lstModule, function (index, value) {
                    html += '<option value="'+value.Name+'">'+value.Title+'</option>';
                })
            }else{
                html += '<option value=""></option>';
            }
            return html;
            //var htmlListModule = '<option  value="vote">Bình chọn</option><option  value="livechat">Chat trực tiếp</option><option attr-template="true" value="rss">RSS</option><option attr-template="true" value="weather">Thời tiết</option><option  value="reservation">Đặt bàn</option>';
            //return htmlListModule;
        }
        function loadPageTokenApp3rd(){
            var param = {
                botId: $("#botId").val()
            };
            var urlTest = "api/setting/getbybotid";
            var svr = new AjaxCall(urlTest, param);
            svr.callServiceGET(function (data) {
                console.log(data)
                pageTokenZalo = data.ZaloPageToken;
                pageTokenFacebook = data.FacebookPageToken;
            });
        }
        loadPageTokenApp3rd();
    </script>
    <script src="~/assets/client/js/eventBot/form-card.js"></script>
    <!--Icon Chat-->
    <script src="~/assets/client/libs/emoji-picker/js/config.js"></script>
    <script src="~/assets/client/libs/emoji-picker/js/util.js"></script>
    <script src="~/assets/client/libs/emoji-picker/js/jquery.emojiarea.js"></script>
    <script src="~/assets/client/libs/emoji-picker/js/emoji-picker.js"></script>
    <script>
        $(function () {
            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                //assetsPath: '../asset/emoji-picker/img',
                assetsPath: _Host + 'assets/client/libs/emoji-picker/img',
                popupButtonClasses: 'fa fa-cogs'
            });
            window.emojiPicker.discover();

            // auto show thread form in
            $('.auto-form .inp-title').bind('focus', function (event) {
                var element = $(event.currentTarget);
                var container = element.closest('.auto-form');
                var select = container.find('.cat-dropdown');
                var bottom = container.find('.form-detail');
                var cancel = container.find('.cancel');

                if (!container.hasClass('opened')) {
                    container.addClass('opened');
                    select.fadeIn().removeClass('hide');
                    bottom.slideDown();
                    cancel.unbind('click').bind('click', function (event) {
                        event.preventDefault();
                        container.removeClass('opened');
                        select.fadeOut();
                        bottom.slideUp();
                        //hide preview when cancel button clicked
                        $('.skin-checkbox').removeClass('checked');
                        $("div#thread_preview").fadeOut();
                        $("ul#main_list_post").fadeIn();
                        $("#main_pagination").fadeIn();
                        $('.show-preview a').text('Show Preview');
                    });
                }
            });
            // auto render categories dropdown
            $('.thread-form .cat-dropdown').each(function () {
                var element = $(this);
                var selector = element.find('select');
                var listDropdown = $('<ul>').addClass('dropdown-menu category-select');
                var label = element.find('.text-select');
                var i = 0;

                // set default text
                label.html(selector.find('option:selected').text());

                // build list
                selector.find('option').each(function () {
                    var option = $(this);
                    var listItem = $('<li>').text(option.text()).attr('data-value', option.attr('value'));
                    // add event for listItem
                    listItem.bind('click', function () {

                        selector.val($(this).attr('data-value'));
                        label.text($(this).text());
                        $("#thread_preview span.type-category").html('<span class="flags color-2"></span>' + option.text());
                    });
                    if (i > 0) {
                        listDropdown.append(listItem);
                    }
                    i++;
                });

                // add list to
                if (!selector.next().is('ul')) {
                    selector.after(listDropdown);
                }
            });
        });
    </script>
    <script>
        function openNavModule() {
            $('#sidenav-module').css('width','380');
        }
        function closeNavModule() {
            $('#sidenav-module').css('width','0');
        }
    </script>
}
