@model BotProject.Model.Models.BotQnAnswer
@{
    ViewBag.Title = "QnA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cards = (IEnumerable<BotProject.Model.Models.Card>)ViewBag.Cards;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.8.0/jquery.selectBoxIt.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css.map" rel="stylesheet" type="application/json">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/client/css/card.css" rel="stylesheet" />
<link href="~/assets/client/css/common-bot.css" rel="stylesheet" />
<link href="~/assets/client/css/components.css" rel="stylesheet" />

<style>
    @@media (min-width: 576px) {
        .modal-card {
            max-width: 1320px;
            margin: 1.75rem auto;
            max-height: 100%;
            position: relative;
            overflow: auto !important;
            padding-right: unset;
        }
    }

    .icon-spinner4.spinner {
        color: #fff;
    }

    .icon-spinner4.spinner {
        font-size: 30px;
    }

    .has-error .form-control {
        border-color: #ed4956;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }
</style>
<style>
    .select2-dropdown {
        z-index: 999999;
    }

    .select2-dropdown {
        background-color: white;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: -100000px;
        width: 100%;
        z-index: 999999;
    }

    .select2 {
        width: 100%;
    }

    select + .select2-container {
        width: 100% !important;
    }

    .product-colors input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        display: inline-block;
    }

    .ml10 {
        margin-left: 10px;
    }
</style>
<input type="hidden" id="botId" value="@Model.BotID" />
<input type="hidden" id="botQnAnswerID" value="@Model.ID" />
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pageheader-title p-t-20">
        <div class="d-flex">
            <h5 class="pageheader-title">@Model.Name.ToUpper() </h5>

            <div class="toolbar ml-auto p-r-10">
                <a href="#" class="btn btn-success btn-sm saveKeyword"><i class="fas fa-sync-alt"></i> Save and retrain</a>
                <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i> Publish</a>
            </div>
        </div>
        <div class="d-flex">
            <p style="font-size:13pt;padding-left:20px;color:darkblue;text-decoration:underline" id="search-label" for="search-terms" class="addCt"><i class="fas fa-plus-circle"></i> Add rule</p>
            <div class="ml-auto" style="font-size:13px;padding-right:100px">Retrained 2 phút trước</div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="pageLearning">
    <div id="paging">
        @*<div class="panel-flat"><div class="pull-right"><select class="form-control limitPage"><option value="5" selected="">5</option><option value="10">10</option><option value="15">15</option><option value="20">20</option></select></div></div>*@
    </div>
    @*<nav class="pagination pagination_type1">
            <ol class="pagination__list" id="pagination-list"></ol>
            <div class="pagination__list m-l-20">
                <select id="results-pp">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="100">100</option>
                    <option value="All">Tất cả</option>
                </select>
                <span class="m-l-10">Số lượng hiển thị</span>
            </div>
            <span id="pagination-text-number-show" style="margin:10px 10px 0 auto"></span>
        </nav>*@

    <div class="card">
        <div class="wrap-content" data-countpanel="1">
            <div class="panel panel-flat" indexpanel="1">
                <div class="panel-body">
                    <i class="fa fa-trash icon-bin rmCt"></i>
                    <div class="wrMove">
                        <i class="fa fa-arrow-up moveTop" style="display: inline;"></i>
                        <i class="fa fa-arrow-down moveBot" style="display: inline;"></i>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 userSay">
                            <label>Người dùng nói</label>
                            <div class="input-group">
                                <ul class="tags checkvalid">
                                    <li class="tagAdd taglist">
                                        <input type="text" class="search-field">
                                    </li>
                                </ul>
                                <span class="input-group-addon">
                                    <input type="checkbox" class="styled" name="data[exactly][1]" checked="checked">
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 botReply">
                            <label>Bot trả lời với&nbsp;</label>
                            <label class="learn_switchbot">
                                <input type="checkbox" name="data[Bot][Status]" class="learn_switchinput" checked="">
                                <span class="learn_sliderbot learn_roundbot"></span>
                            </label>
                            @*<label class="card-bot hidden"><i class="fa fa-plus-circle"></i><a href="#">Tạo thẻ</a></label>*@
                            <div class="checkbox checkbox-switchery switchery-xs pull-right pd0">
                                <label>
                                    <input type="checkbox" class="switchery randomText" style="display:none">
                                    <span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;">
                                        <small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small>
                                    </span>
                                    Ngẫu nhiên
                                </label>
                            </div>
                            <div class="wrbutton" indexbt="1">
                                <div class="bt">
                                    <input type="text" name="data[question][1][]" autocomplete="off" class="form-control checkvalid" maxlength="320">
                                    <i class="fa fa-remove icon-bin rmText"></i>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-rounded mt20 w100 hidden">
                                <i class="icon-plus22"></i> Thêm câu trả lời
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footerJS{
    <script>

        var lstCard = @Html.Raw(Json.Encode(cards));
        function card() {
            var html = '<optgroup label="DANH SÁCH THẺ">';
            if (lstCard.length != 0) {
                $.each(lstCard, function (index, value) {
                    html += '<option value="'+value.ID+'">'+value.Name+'</option>';
                })
            }
            html += '</optgroup>';
            return html;

        }
        //function card() {
        //    var htmlListCard = '<optgroup label="DANH SÁCH THẺ"><option  value="BATDAU">BẮT ĐẦU</option><option  value="CAUMACDINH">CÂU MẶC ĐỊNH</option><option  value="LIENHE">LIÊN HỆ</option><option  value="5c00dc63c941482ab456a0a2">CÁC CHUYÊN MỤC</option><option  value="5c00dc63c941482ab456a0a3">TRANG CHỦ</option></optgroup>';
        //    return htmlListCard;
        //}
        function module() {
            var htmlListModule = '<option  value="vote">Bình chọn</option><option  value="livechat">Chat trực tiếp</option><option attr-template="true" value="rss">RSS</option><option attr-template="true" value="weather">Thời tiết</option><option  value="reservation">Đặt bàn</option>'; return htmlListModule;
        }
    </script>

    <script src="~/assets/client/js/eventBot/form-learning.js"></script>
}

