
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int botId = ViewBag.BotID;
}
<input type="hidden" id="botId" value="@botId" />
<style>
    .css-pmv0u9 {
        background-color: rgb(248, 248, 248);
        height: 110px;
        width: 100%;
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-image: initial;
        border-radius: 4px;
        padding: 8px 12px;
        margin: 15px 0px 25px;
    }

    .css-gikrn2 {
        font-family: Consolas, "Courier New", Courier, monospace;
        font-size: 12px;
        background-color: transparent;
        color: rgb(142, 148, 154);
        height: 100%;
        width: 100%;
        resize: none;
        pointer-events: none;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        outline: 0px;
    }

    .css-2j9zgb {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .css-1ek6qwp {
        background-color: rgba(67, 132, 245, 0.6);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-align: center;
        /*align-items: center;*/
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 17px;
        font-weight: 600;
        white-space: pre;
        /*text-align: center;*/
        flex-direction: column;
        cursor: pointer;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }

    .css-1wtvmve {
        background-color: rgba(67, 132, 245, 0.6);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 1;
        color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-align: center;
        /*align-items: center;*/
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 17px;
        font-weight: 600;
        white-space: pre;
        /*text-align: center;*/
        flex-direction: column;
        cursor: pointer;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }

    .css-1nbw1t11 svg {
        margin-left: 50px;
    }

    .css-uv22u3 {
        display: block;
        -webkit-box-align: center;
        align-items: center;
        width: 25px;
        height: 25px;
        line-height: 25px;
        fill: rgb(255, 255, 255);
    }

    .lc-btn--compact {
        font-size: 15px;
        padding: 4px 16px;
        min-width: 32px;
        min-height: 32px;
    }

    .lc-btn--primary {
        background-color: #4384f5;
        color: #fff;
        border-color: #4384f5;
    }

    .lc-btn {
        background-color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        color: #4384f5;
        font-size: 15px;
        min-width: 36px;
        min-height: 36px;
        -webkit-transition-property: opacity,border,color,background-color,box-shadow;
        transition-property: opacity,border,color,background-color,box-shadow;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-timing-function: cubic-bezier(.64,0,.35,1);
        transition-timing-function: cubic-bezier(.64,0,..css-1ek6qwp 35,1);
        border: 1px solid #4384f5;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
        display: -webkit-inline-box;
        display: inline-flex;
        line-height: 1.5;
        position: relative;
        padding: 6px 16px;
        box-sizing: border-box;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
</style>

<div class="container-fluid">
    <aside class="page-aside">
        <div class="aside-content">
            <div class="aside-nav collapse">
                <div class="nav-left-sidebar">
                    <div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="navbar-collapse collapse" id="navbar-setting" style="">
                                <ul class="navbar-nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">
                                            <i class="fa fa-share-alt-square"></i>Kênh
                                        </a>
                                        <div id="submenu-2" class="submenu collapse" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#"><span>Website</span><span class="badge bg-success-bright text-success">ON</span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#"><span>Facebook</span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#"><span>Zalo</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6">
                                            <i class="fa fa-window-maximize"></i>
                                            Cửa sổ chat
                                        </a>
                                        <div id="submenu-6" class="submenu collapse" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Tùy chỉnh</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </aside>
    <div class="main-content container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <h4>Cài đặt LiveChat</h4>
                            <span>
                                Hiển thị LiveChat trên website, bạn cần thêm đoạn code hoặc cấu hình tích hợp
                            </span>
                            <div aria-expanded="true" class="css-5ijrzv" style="">
                                <div class="css-2yionh">
                                    <ol class="css-ltn8xf">
                                        <li>
                                            Copy and paste đoạn mã trước thẻ đóng <code class="css-n11q3w css-j0wqu90">&lt;/body&gt;</code> trên website của bạn.
                                            <div class="css-pmv0u9" tabindex="0">
                                                <textarea id="txt-code" style="width:100%" readonly="" class="css-gikrn2 css-1nbw1t12">
                                                    ---Thêm đoạn mã vào trang HTML - trong thẻ body---
                                                    <!--Lacviet-->
                                                    <script>
       (function (l, a, c, v, i, e, t){
         a[v] = a[v] || function (){
         a[v].t =+ new Date();
         (a[v].q = a[v].q || []).push(arguments);};
         i = l.createElement('script');
         var ii = l.getElementsByTagName('script')[0];
         i.async = 1;
         i.src = c;
         i.id = 'lacviet-script';
         ii.parentNode.insertBefore(i, ii);
       })(document, window, 'https://bot.surelrn.vn/static/js/app.js', 'lacviet');
       setTimeout(function(){lacviet.load('U2FsdGVkX18ubpSE6GDouyP2u43nbG0whHM+hExBRVqeaYOI6lQhGzLxrJEqDgjX','U2FsdGVkX1/2bMpgzB6hpP/CPtPgzC2ukR8BeFirfClAmqZdNCWxUsh40PI8I8wJtGrHFtfpuiUb9PGSAYf3cQ==','U2FsdGVkX18PvghrvS28/XaPnLUIG6rHSd3nAqeQiMw=','U2FsdGVkX1+gmewkMAXcW+kIM9G6smi/B3gH7glCz5o5lATqNElw9Jl5MqMPqpl1');},1500);
                                                    </script>
                                                    <!-- End Lacviet -->
                                                </textarea>
                                                <div class="css-2j9zgb css-1nbw1t13">
                                                    <button class="lc-btn lc-btn--primary lc-btn--compact" type="button">Copy code</button>
                                                </div>
                                                <div class="css-1ek6qwp css-1nbw1t10" onclick="copyToClipBoard(this)" onmouseover="hoverCopyToClipBoardChange(this)" onmouseout="hoverCopyToClipBoardNormal(this)">
                                                    <div class="css-1nbw1t11 css-uv22u3 css-j314r80" width="25px" height="25px" fill="#fff">
                                                        <svg fill="#fff" width="25px" height="25px" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="inherit" d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"></path></svg>
                                                    </div>
                                                    Copy Code to Clipboard
                                                </div>
                                            </div>
                                        </li>
                                        <li>Reload website. LiveChat sẽ hiển thị vị trí bên phải phía dưới cùng website.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
@section footerJS{

    <script>
        $(document).ready(function () {
            $('#navbar-setting ul li a').eq(0).click();
        })

        function hoverCopyToClipBoardChange(elm) {
            $(elm).removeClass('css-1ek6qwp').addClass('css-1wtvmve');
        }
        function hoverCopyToClipBoardNormal(elm) {
            $(elm).removeClass('css-1wtvmve').addClass('css-1ek6qwp');
        }
        function copyToClipBoard(elm) {
            var copyText = document.getElementById("txt-code");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            $(elm).css('background-color', 'rgba(75, 182, 120, 0.7)');
            var templateCopySuccess = '<div class="css-1nbw1t11 css-uv22u3 css-j314r80" width="25px" height="25px" fill="#fff">';
            templateCopySuccess += '<svg fill="#fff" width="25px" height="25px" viewBox="0 0 13 10"><g fill="inherit" fill-rule="evenodd"><path fill-rule="nonzero" d="M4.131 7.89L1.05 4.78 0 5.831 4.131 10 13 1.051 11.958 0z"></path></g></svg>';
            templateCopySuccess += '</div>';
            templateCopySuccess += 'Copy thành công!';
            $(elm).empty().append(templateCopySuccess)
            setTimeout(function () {
                $(elm).css('background-color', 'rgba(67, 132, 245, 0.6)');
                $(elm).text('Copy Code to Clipboard')
                $('body').focus();
            }, 1500)
            return false;
            //alert("Copied the text: " + copyText.value);
        }
    </script>
}