<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            Copyright © 2018 all rights reserved by Lac Viet Corp
        </div>
    </div>
</div>

<!--modal form create bot-->
<div class="modal fade" id="modalCreateBot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Bot</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Name</label>
                        <input type="text" class="form-control" id="txtBotName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnSaveBot">Save</a>
            </div>
        </div>
    </div>
</div>

<!--modal form create bot qna-->
<div class="modal fade" id="modalCreateBotQnAnswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display:none;">
    <input type="hidden" id="bot-botQnA-id" value="" />
    <input type="hidden" id="bot-botQnA-name" value="" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create form training</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Name</label>
                        <input type="text" class="form-control" id="txtBotQnAnswerName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnSaveBotQnA">Save</a>
            </div>
        </div>
    </div>
</div>

<!--modal form deploy bot-->
<div class="modal fade" id="modalDeployBot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:600px; margin:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deploy Bot</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea id="editorTest" style="width:100%;height:150px;"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--modal form attribute-->
<div class="modal fade" id="modalCreateAttribute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cài đặt biến</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="card-header" style="background-color:lightgray">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>BIẾN</p>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" style="float:right;" id="btnAddAttribute"><i class="fa fa-plus-circle"></i>Thêm biến</a>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding:unset !important">
                    <div class="table-responsive" id="table-qna">
                        <table class="table table-striped table-bordered table-sm" id="table-data">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:10%"></th>
                                    <th scope="col" style="width:30%">Tên biến</th>
                                    <th scope="col" style="width:30%">Kiểu</th>
                                    <th scope="col" style="width:30%">Tiện ích</th>
                                </tr>
                            </thead>
                            <tbody id="table-data-attribute">
                                @*<tr>
                                    <td>1</td>
                                    <td>sender_id</td>
                                    <td>text</td>
                                    <td>
                                        <a href="#" style="padding-right:8px"><i class="fa fa-edit"></i></a>
                                        <a href="#"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <nav class="pagination pagination_type1">
                        <ol class="pagination__list" id="pagination-list"></ol>
                        <div class="pagination__list m-l-20">
                            <select id="results-pp">
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="100">100</option>
                                <option value="All">Tất cả</option>
                            </select>
                            <span class="m-l-10">Số lượng hiển thị</span>
                        </div>
                        <span id="pagination-text-number-show" style="margin:10px 10px 0 auto"></span>
                    </nav>
                </div>
            </div>
            <div class="modal-footer">
                <table class="table" style="margin-bottom: 5px; display:none" id="table-add-attribute">
                    <tr>
                        <td style="display:none">
                            <input id="txt_attribute_id" type="text" value="0">
                        </td>
                        <td style="width: 25%; padding-right: 0px;border-right:none !important">
                            <input id="txt_attribute_name" placeholder="Biến" class="form-control" type="text">
                        </td>
                        <td style="border-right:none !important">
                            <select class="form-control" id="txt_attribute_type">
                                <option value="text">Văn bản</option>
                                <option value="number">Số</option>
                                <option value="email">Email</option>
                                <option value="url">Url</option>
                            </select>
                        </td>
                        <td style="width: 6%;border-right:none !important">
                            <button title="Lưu" class="icon-btn" style="font-size: 18px;cursor:pointer" id="btnSaveAttribute">
                                <i class="fa fa-save"></i>
                            </button>
                        </td>
                        <td style="width: 6%;border-right:none !important">
                            <button title="Hủy" class="icon-btn" style="font-size: 18px;cursor:pointer" id="btnCloseAttribute">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                @*<a href="#" class="btn btn-primary" id="btnSaveBotQnA">Save</a>*@
            </div>
        </div>
    </div>
</div>