<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            Copyright © 2018 all rights reserved by Lac Viet Corp
        </div>
    </div>
</div>

<!--modal form create bot-->
<div class="modal fade" id="modalCreateBot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Bot</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Name</label>
                        <input type="text" class="form-control" id="txtBotName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnSaveBot">Save</a>
            </div>
        </div>
    </div>
</div>

<!--modal form create bot qna-->
<div class="modal fade" id="modalCreateBotQnAnswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display:none;">
    <input type="hidden" id="bot-botQnA-id" value=""/>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create form training</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Name</label>
                        <input type="text" class="form-control" id="txtBotQnAnswerName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnSaveBotQnA">Save</a>
            </div>
        </div>
    </div>
</div>

<!--modal form deploy bot-->
<div class="modal fade" id="modalDeployBot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deploy Bot</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        @*<div id="editorTest" class="editor-file-aiml">

                        </div>*@
                        <textarea id="editorTest" style="width:100%;height:150px;">

                        </textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


