@using BotProject.Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int botId = ViewBag.BotID;
    var agent = (ApplicationUserViewModel)ViewBag.UserInfo;
}
<input type="hidden" id="botId" value="@botId" />
<link href="~/assets/livechat/css/chatbox-UI.css" rel="stylesheet" />
<link href="~/assets/client/css/chat-room.css" rel="stylesheet" />

<style>
    .list-group-item:focus, .list-group-item:hover {
     z-index: 0; 
     text-decoration: none; 
}
    .dropdown-item{
        display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    }
    .chat-block .chat-content .messages .message-item .message-container{
                display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }
    .chat-block .chat-content .messages .message-item.me .message-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
    }
    .txt-align-left {
    text-align: left;
}
        .txt-align-right {
        text-align: right;
    }
    .font-size-08 {
    font-size: 0.8em;
}
    /*Template chat-sidebar-device loading*/
    .css-16d213k {
    padding: 25px;
}
    .css-1n3wdg1 {
    height: 10px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10px;
    background: rgba(221, 226, 230, 0.5);
}
    .css-1yq2cot::before {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}
    .css-1yq2cot::after {
    width: 130px;
}
    .css-1yq2cot::before, .css-1yq2cot::after {
    height: 10px;
    margin-bottom: 20px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    background: rgba(221, 226, 230, 0.5);
}
    .css-10ib5jr {
    margin-bottom: 40px;
}
    .css-1n3wdg1 {
    height: 10px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10px;
    background: rgba(221, 226, 230, 0.5);
}
    .css-16vzca6::before {
    width: 70px;
    margin-right: 30px;
}
    .css-16vzca6::after {
    width: 50px;
}
    .css-16vzca6::before, .css-16vzca6::after {
    height: 10px;
    margin-bottom: 20px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    background: rgba(221, 226, 230, 0.5);
}
</style>
<div class="content">
    <div class="row no-gutters chat-block">
        <!-- begin::chat sidebar -->
        <div class="col-lg-3 chat-sidebar border-right">
            <!-- begin::chat sidebar search -->
            <div class="chat-sidebar-header border-bottom">
                <div class="d-flex">
                    <div class="pr-3">
                        @if (!String.IsNullOrEmpty(agent.Avatar))
                        {
                            <div class="avatar">
                                <img src="~/assets/client/img/avatar-admin.jpg" class="rounded-circle"
                                     alt="image">
                            </div>
                        }
                        else
                        {
                            <span class="avatar avatar-state-online">
                                <span class="avatar-title bg-primary rounded-circle">@agent.UserName.Substring(0,1).ToUpper()</span>
                            </span>
                        }
                    </div>
                    <div>
                        <p class="mb-0">@agent.UserName</p>
                        <p class="m-0 small text-muted">Agent</p>
                    </div>
                </div>
            </div>
            <!-- begin::chat sidebar search -->
            <!-- end::chat list -->
            <div class="chat-sidebar-content">
                <div class="chat-lists">
                    <div class="list-group list-group-flush" id="div-list-customers">
                        @*<a href="#" class="list-group-item active d-flex">
                            <div class="pr-3">
                                <span class="avatar avatar-state-online">
                                    <span class="avatar-title bg-warning rounded-circle">H</span>
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">HCM</h6>
                                <span class="small text-muted">
                                    <i class="fa fa-image mr-1"></i> Photo
                                </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted timeago" title="May 18, 2020"></span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex">
                            <div class="pr-3">
                                <span class="avatar avatar-state-warning">
                                    <img src="~/assets/client/img/avatar-admin.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">
                                    <span>
                                        <img class="css-gkenkv" src="~/assets/client/img/fb-msg-icon-960x960.png" alt="channel-icon">
                                    </span>
                                    facebook-HuyHo
                                </h6>
                                <span class="small text-muted">
                                    <i class="fa fa-image mr-1"></i> Photo
                                </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">Hôm qua</span>
                            </div>
                        </a>
                        <a href="#" class="list-group-item d-flex">
                            <div class="pr-3">
                                <span class="avatar avatar-state-warning">
                                    <img src="~/assets/client/img/avatar-admin.jpg"
                                         class="rounded-circle"
                                         alt="image">
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">
                                    <span>
                                        <img class="css-gkenkv" src="~/assets/client/img/zalo-msg-icon.jpg" alt="channel-icon">
                                    </span>
                                    zalo-Huy
                                </h6>
                                <span class="small text-muted">
                                    <i class="fa fa-image mr-1"></i> Photo
                                </span>
                            </div>
                            <div class="text-right ml-auto">
                                <span class="small text-muted">Hôm qua</span>
                            </div>
                        </a>*@
                    </div>
                </div>
            </div>
            <!-- end::chat list -->
        </div>
        <!-- end::chat sidebar -->
        <!-- begin::chat content -->
        <div class="col-lg-6 chat-content border-right">
            <!-- begin::chat header -->
            <div class="chat-header border-bottom" id="chat-sidebar-message-header" style="display:none">
                <div class="d-flex align-items-center">
                    <div class="pr-3">
                        <span class="avatar avatar-state-online">
                            <span class="avatar-title bg-warning rounded-circle">W</span>
                        </span>
                    </div>
                    <div>
                        <p class="mb-0 customer-name">HCM</p>
                        @*<div class="m-0 small text-success">typing...</div>*@
                    </div>
                    <div class="ml-auto">
                        <ul class="nav align-items-center">
                            <li class="d-sm-inline d-none">
                                <a class="nav-link nav-user-img" href="#" id="form-message-setting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-cog"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="form-message-setting">
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <label class="checkbox-inline"><input type="checkbox" value="">Chuyển bot trả lời</label>
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" id="btnShowAgent">
                                        <i class="fas fa-fw fa-user"></i> Chỉ định chuyên viên
                                    </a>
                                </div>
                            </li>                          
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end::chat header -->
            <!-- begin::messages -->
            <div class="messages" id="chat-sidebar-message-content" style="display:none">
                <div class="message-item">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pr-3">
                                <span class="message-avatar-item avatar">
                                    <span class="avatar-title bg-warning rounded-circle">H</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-container">
                        <div>
                            <div class="txt-align-left">
                                <span class="font-size-08">Support Bot </span>
                                <span class="font-size-08">15:11</span>
                            </div>
                        </div>
                        @*<span class="time small text-muted font-italic">02:30 PM</span>*@
                        <div class="message-item-content">Chào!</div>
                        <div class="txt-align-left font-size-08">Message not sent, Delivered, Read</div>
                    </div>

                </div>
                <div class="message-item me">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pl-3">
                                <span class="avatar">
                                    <span class="avatar-title bg-primary rounded-circle">A</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-container">
                        <div>
                            <div class="txt-align-right">
                                <span class="font-size-08">Support Bot </span>
                                <span class="font-size-08">15:11</span>
                            </div>
                        </div>
                        @*<span class="time small text-muted font-italic">02:30 PM</span>*@
                        <div class="message-item-content">Chào bạn! Bạn cần giúp đỡ gì?</div>
                        <div class="txt-align-left font-size-08">Message not sent, Delivered, Read</div>
                    </div>
                </div>

                <!--Text and Button-->
                <div class="message-item me message-text-button">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pl-3">
                                <span class="avatar">
                                    <span class="avatar-title bg-primary rounded-circle">A</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-item-content">
                        <span>Testttttttttttttttttttttttt.</span>
                        <div class="message-item-button">
                            <a href="#" class="message-btn-link lc-6qcmqf">Xem chi tiết</a>
                            <a href="#" class="message-btn-link lc-6qcmqf">Xem chi tiết</a>
                            <a href="#" class="message-btn-link lc-6qcmqf">Xem chi tiết</a>
                        </div>
                    </div>
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>

                <!--Template Generic Single-->
                <div class="message-item me message-type-list">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pl-3">
                                <span class="avatar">
                                    <span class="avatar-title bg-primary rounded-circle">A</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-item-template-generic">
                        <div class="_6j0s" style="background-image: url('https://bot.surelrn.vn/File/Images/Card/07be0196-b52c-404d-9056-093f5bd635c5-banner_resize_3.jpg'); background-position: center center; height: 150px; width: 100%;">
                        </div>
                        <div class="_6j2g">
                            <div class="_6j0t _4ik4 _4ik5" style="-webkit-line-clamp: 3;">
                                💁 Vui lòng nhấn vào các mục bên dưới để chúng tôi có thể hỗ trợ bạn nhanh nhất!
                            </div>
                            <div class="_6j0u">
                                <div>
                                    📧 Emai: support@PhapLuat.com
                                </div>
                            </div>
                            <div class="_6j0y">
                                <a target="_blank" href="#">
                                    www.facebook.com
                                </a>
                            </div>
                        </div>
                        <div class="message-item-button">
                            <a href="#" class="message-btn-link lc-6qcmqf">Xem chi tiết</a>
                            <a href="#" class="message-btn-link lc-6qcmqf">Xem chi tiết</a>
                            <a href="#" class="message-btn-link lc-6qcmqf">Xem chi tiết</a>
                        </div>
                    </div>
                </div>

                <!--Typing-->
                <div class="message-item">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pr-3">
                                <span class="message-avatar-item avatar">
                                    <span class="avatar-title bg-warning rounded-circle">H</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-item-content writing">
                        <div class="_4xko _13y8">
                            <div class="_4a0v _1x3z">
                                <div class="_4b0g">
                                    <div class="_5pd7"></div>
                                    <div class="_5pd7"></div>
                                    <div class="_5pd7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="message-item">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pr-3">
                                <span class="message-avatar-item avatar">
                                    <img src="~/assets/client/img/avatar-admin.jpg" alt="image" class="rounded-circle">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-item-content">Hello! How are you today?</div>
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item me">
                    <div class="message-avatar">
                        <div class="message-avatar-customer">
                            <div class="pl-3">
                                <span class="message-avatar-item avatar">
                                    <img src="~/assets/client/img/avatar-admin.jpg" alt="image" class="rounded-circle">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="message-item-content">Lorem ipsum dolor sit.</div>
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item">
                    <div class="message-item-content d-flex">
                        <i class="ti-file mr-2 font-size-20 mt-2"></i>
                        <div>
                            <div>important_documents.pdf <i class="text-muted small">(50KB)</i></div>
                            <ul class="list-inline small">
                                <li class="list-inline-item"><a href="#">Download</a></li>
                                <li class="list-inline-item"><a href="#">View</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item me">
                    <div class="message-item-content">Lorem ipsum dolor sit.</div>
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item">
                    <div class="message-item-content">Lorem ipsum dolor sit.</div>
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item me message-media">
                    <img src="http://nago.laborasyon.com/demos/assets/media/image/photo1.jpg" alt="image">
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item message-item-divider">
                    <span>Today</span>
                </div>
                <div class="message-item">
                    <div class="message-item-content">Lorem ipsum dolor sit.</div>
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>*@
            </div>
            <!-- end::messages -->
            <!-- begin::chat footer -->
            <div class="chat-footer border-top" id="chat-sidebar-message-footer" style="display:none">
                <div class="d-flex">
                    <button class="btn-outline-light mr-2" type="button" title="Emoji"
                            data-toggle="tooltip">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile width-15 height-15"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                    </button>
                    <div class="flex-grow-1">
                        <input type="text" class="form-control" id="input-chat-message" placeholder="Nhập tin nhắn...">
                    </div>
                    <div class="chat-footer-buttons d-flex">
                        <button class="btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send width-15 height-15"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                        </button>
                        <button class="btn-outline-light" type="button" title="Attach files"
                                data-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip width-15 height-15"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end::chat footer -->
        </div>
        <!-- begin::chat content -->
        <!--begin:: chat sidebar customer-->
        <div class="col-lg-3 chat-sidebar">
            <!-- begin::chat sidebar search -->
            <div class="chat-sidebar-header border-bottom">
                <div class="d-flex">
                    <div class="pr-3">
                        <p class="mb-0">Thông tin</p>
                        <p class="m-0 small text-muted">Customer</p>
                    </div>
                </div>
            </div>
            <!-- begin::chat sidebar search -->
            <!-- end::chat list -->
            <div class="chat-sidebar-content">
                <div id="chat-sidebar-device" style="display:none">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="pr-3">
                                        <span class="avatar avatar-state-secondary">
                                            <span class="avatar-title bg-warning rounded-circle">W</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <h3 class="customer-name">HCM</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-dark font-size-13"><i class="fa fa-clock"></i><span id="device-clock"> 4:40 pm  local time</span></div>
                                <div class="col-12 text-dark font-size-13"><i class="fa fa-map-marker-alt"></i><span id="device-city"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input name="LatiLongTude" id="LatiLongTude" class="hidden" />
                                    <input id="Latitude" class="hidden" />
                                    <input id="Longitude" class="hidden" />
                                    <div id="map" class="map css-181kzs5 css-ahr9p47" style="height:220px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Thiết bị</h6>
                            <div class="row">
                                <div class="col-12 font-size-13"><span class="text-muted">IP Address: </span><span id="device-ip"></span></div>
                                <div class="col-12 font-size-13"><span class="text-muted">OS/Device: </span><span id="device-os"></span></div>
                                <div class="col-12 font-size-13"><span class="text-muted">Browser: </span><span id="device-browser"></span></div>
                                <div class="col-12 font-size-13"><span class="text-muted">User agent: </span><span id="device-user-agent"></span></div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--template css loading-->
                <div class="css-q3ued4 css-16d213k" id="chat-sidebar-template-loading"><div class="css-1n3wdg1"></div><div class="css-1yq2cot"></div><div class="css-1yq2cot"></div><div class="css-1yq2cot"></div><div class="css-1yq2cot css-10ib5jr"></div><div class="css-1n3wdg1"></div><div class="css-16vzca6"></div><div class="css-16vzca6 css-10ib5jr"></div><div class="css-1n3wdg1"></div><div class="css-16vzca6"></div><div class="css-16vzca6"></div><div class="css-16vzca6"></div><div class="css-16vzca6 css-10ib5jr"></div><div class="css-1n3wdg1"></div><div class="css-16vzca6"></div><div class="css-16vzca6"></div><div class="css-16vzca6"></div><div class="css-16vzca6"></div></div>
            </div>
            <!-- end::chat list -->
        </div>
        <!--end:: chat sidebar customer-->
    </div>
</div>
@section footerJS{
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&key=AIzaSyAfx5a8yx5MqeGoTS3ierzoe35TXoX0ZOY&libraries=places"></script>
    <script src="~/assets/livechat/js/helper/common.js"></script>
    <script src="~/assets/livechat/js/lc_chatroom.js"></script>
    <script>
        $(document).ready(function () {
            var wind_ = $(window),
            body_ = $('body');
            if (wind_.width() >= 992) {

                $('.chat-block .chat-sidebar .chat-sidebar-content').niceScroll();
                $('.chat-block .chat-sidebar-customer .chat-sidebar-content').niceScroll();
                var chat_messages = $('.chat-block .chat-content .messages');

                if (chat_messages.length) {
                    chat_messages.niceScroll({
                        horizrailenabled: false
                    });
                    chat_messages.getNiceScroll(0).doScrollTop(chat_messages.get(0).scrollHeight, -1);
                }
            }
        })

    </script>

    @*<!--Lacviet-->
    <script>
        (function (l, a, c, v, i, e, t) {
            t = new Date().getUTCMilliseconds().toString();
            c += t;
            i = l.createElement('script');
            var ii = l.getElementsByTagName('script')[0];
            r = false;
            i.async = 1;
            i.src = c;
            i.id = 'lacviet-script';
            ii.parentNode.insertBefore(i, ii);
            i.onload = i.onreadystatechange = function () {
                if (!r && (!this.readyState || this.readyState == 'complete')) {
                    r = true;
                    e();//function callback();
                }
            };
        })(document, window, 'http://localhost:54160/assets/livechat/app_setting.js?v=', 'lacviet', '', function () { lacviet.setup('2') });
    </script>
    <!-- End Lacviet -->*@
}