
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div> 
    </div>
    <!--Lacviet-->
    <script>
            (function (l, a, c, v, i, e, t) {
                t = new Date().getUTCMilliseconds().toString();
                c += t;
                i = l.createElement('script');
                var ii = l.getElementsByTagName('script')[0];
                r = false;
                i.async = 1;
                i.src = c;
                i.id = 'lacviet-script';
                ii.parentNode.insertBefore(i, ii);
                i.onload = i.onreadystatechange = function () {
                    if (!r && (!this.readyState || this.readyState == 'complete')) {
                        r = true;
                        e();//function callback();
                    }
                };
            })(document, window, 'http://localhost:54160/assets/livechat/app_setting.js?v=', 'lacviet', '', function () { lacviet.setup('3019') });//group 2019 check y tế bùa
    </script>
    <!-- End Lacviet -->
</body>
</html>
