


/*modul nút*/
.select2-container {
    width: 100%;
    outline: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    text-align: left;
    border-radius: 3px;
}

    .select2-container[class*=border-] .select2-choice, .select2-container[class*=border-].select2-dropdown-open.select2-drop-above .select2-choice, .select2-container[class*=border-].select2-dropdown-open.select2-drop-above .select2-choices {
        border-color: inherit;
    }

    .select2-container.border-lg .select2-choice, .select2-container.border-lg .select2-choices {
        border-width: 2px;
    }

    .select2-container[class*=bg-] .select2-choice {
        background-color: inherit;
        border-color: inherit;
        color: #fff;
    }

        .select2-container[class*=bg-] .select2-choice:hover, .select2-container[class*=bg-].select2-dropdown-open .select2-choice {
            -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.05) inset;
            box-shadow: 0 0 0 100px rgba(0,0,0,0.05) inset;
        }

    .select2-container[class*=bg-].select2-container-disabled .select2-choice {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .select2-container.select2-container-disabled .select2-choice {
        cursor: not-allowed;
        background-color: #fafafa;
        color: #999;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .select2-container.select2-container-disabled .select2-choice abbr {
            cursor: not-allowed;
        }

    .select2-container.select2-container-disabled[class*=bg-] {
        border-color: rgba(255,255,255,0.4);
    }

        .select2-container.select2-container-disabled[class*=bg-] .select2-choice {
            background-color: rgba(255,255,255,0.4);
            color: rgba(255,255,255,0.8);
        }

.select2-choice {
    display: block;
    background-color: #fff;
    height: 36px;
    padding: 7px 12px;
    padding-left: 11px;
    padding-right: 0;
    line-height: 1.5384616;
    position: relative;
    border: 1px solid #ddd;
    white-space: nowrap;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .select2-choice, .select2-choice:hover, .select2-choice:focus {
        color: #333;
    }

        .select2-choice:hover {
            -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.01) inset;
            box-shadow: 0 0 0 100px rgba(0,0,0,0.01) inset;
        }

.select2-dropdown-open .select2-choice {
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.02) inset;
    box-shadow: 0 0 0 100px rgba(0,0,0,0.02) inset;
}

.select2-drop-above .select2-choice {
    border-radius: 0 0 3px 3px;
}

.select2-choice .select2-chosen {
    margin-right: 28px;
    padding-left: 1px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
}

    .select2-choice .select2-chosen > i {
        margin-right: 10px;
    }

        .select2-choice .select2-chosen > i.icon-undefined {
            margin-right: 0;
        }

.select2-choice abbr {
    display: none;
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -8px;
    border: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 3px;
    line-height: 1;
    opacity: .8;
    filter: alpha(opacity=80);
}

    .select2-choice abbr:hover {
        opacity: 1;
    }

    .select2-choice abbr:after {
        content: '\ed6b';
        font-family: 'icomoon';
        display: inline-block;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.select2-container[class*=bg-] .select2-choice abbr, .select2-container[class*=bg-] .select2-choice abbr:hover {
    color: #fff;
}

.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-choice .select2-arrow:after {
    content: '\e9c5';
    font-family: 'Icomoon';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    text-align: right;
    margin-top: -8px;
    font-size: 16px;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-dropdown-open .select2-choice .select2-arrow:after {
    content: '\e9c6';
}

.select2-allowclear .select2-choice .select2-arrow:after {
    content: none;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: 9998;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-top-width: 0;
    border-radius: 0 0 3px 3px;
}

.select2-drop-above {
    border-top-width: 1px;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}

.select2-drop-active {
    border-radius: 0 0 3px 3px;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-radius: 3px 3px 0 0;
}

.select2-drop-auto-width {
    width: auto;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.select2-search {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px;
    padding-bottom: 7px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}

    /*.select2-search:after {
        content: '\e98e';
        font-family: 'icomoon';
        position: absolute;
        top: 50%;
        left: 24px;
        color: inherit;
        display: block;
        font-size: 12px;
        margin-top: -4px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: .6;
        filter: alpha(opacity=60);
    }*/

    .select2-search input {
        width: 100%;
        height: 36px;
        padding: 7px 12px;
        padding-left: 36px;
        border-radius: 3px;
        border: 1px solid #ddd;
        outline: 0;
    }

.select2-drop[class*=bg-] .select2-search input {
    background-color: rgba(0,0,0,0.2);
    border-color: transparent;
    color: #fff;
}

.select2-results {
    max-height: 250px;
    margin: 0;
    padding: 5px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    .select2-results .select2-result-sub {
        margin: 0;
        padding-left: 0;
    }

    .select2-results li {
        list-style: none;
        display: list-item;
    }

        .select2-results li em {
            font-style: normal;
        }

        .select2-results li.select2-result-with-children > .select2-result-label {
            font-size: 11px;
            line-height: 1.82;
            text-transform: uppercase;
            cursor: default;
            font-weight: 500;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .select2-results li.select2-result-with-children:first-child > .select2-result-label {
            margin-top: 0;
        }

        .select2-results li.select2-result-with-children .select2-result > .select2-result-label {
            padding-left: 24px;
            padding-right: 24px;
        }

    .select2-results .select2-more-results {
        background: #f8f8f8;
        display: list-item;
    }

    .select2-results .select2-result-label {
        padding: 7px 12px;
        margin: 0;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .select2-results .select2-result-label > i {
            margin-right: 10px;
        }

            .select2-results .select2-result-label > i.icon-undefined {
                display: none;
            }

        .select2-results .select2-result-label > span {
            left: 10px;
        }

    .select2-results .select2-highlighted {
        background-color: #f5f5f5;
    }

        .select2-results .select2-highlighted ul {
            background-color: #fff;
            color: #333;
        }

        .select2-results .select2-highlighted em {
            background-color: transparent;
        }

.select2-drop[class*=bg-] .select2-results .select2-highlighted {
    background-color: rgba(0,0,0,0.1);
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background-color: #f8f8f8;
    padding: 7px 12px;
    color: #999;
    border-top: 1px solid #ddd;
    margin-bottom: -5px;
    border-radius: 0;
}

.select2-drop[class*=bg-] .select2-results .select2-no-results, .select2-drop[class*=bg-] .select2-results .select2-searching, .select2-drop[class*=bg-] .select2-results .select2-selection-limit {
    background-color: rgba(0,0,0,0.1);
    border-color: rgba(255,255,255,0.1);
    color: #fff;
}

.select2-results .select2-disabled {
    color: #999;
    display: list-item;
}

    .select2-results .select2-disabled .select2-result-label {
        cursor: not-allowed;
    }

.select2-drop[class*=bg-] .select2-results .select2-disabled {
    color: #fff;
    opacity: .5;
    filter: alpha(opacity=50);
}

.select2-results .select2-selected {
    display: none;
}

.select2-results ul ul > li .select2-result-label {
    padding-left: 24px;
}

.select2-results ul ul ul > li .select2-result-label {
    padding-left: 36px;
}

.select2-results ul ul ul ul > li .select2-result-label {
    padding-left: 48px;
}

.select2-results ul ul ul ul ul > li .select2-result-label {
    padding-left: 60px;
}

.select2-results ul ul ul ul ul ul > li .select2-result-label {
    padding-left: 72px;
}

.select2-results ul ul ul ul ul ul ul > li .select2-result-label {
    padding-left: 84px;
}

.select2-container-multi .select2-choices {
    margin: 0;
    border-radius: 3px;
    padding: 0 0 3px 0;
    position: relative;
    outline: 0;
    border: 1px solid #ddd;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
}

    .select2-container-multi .select2-choices:after {
        content: '';
        display: table;
        clear: both;
    }

    .select2-container-multi .select2-choices li {
        float: left;
        list-style: none;
    }

    .select2-container-multi .select2-choices.ui-sortable > li {
        cursor: move;
    }

    .select2-container-multi .select2-choices .select2-search-field {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

        .select2-container-multi .select2-choices .select2-search-field input {
            padding: 7px 12px;
            margin-top: 3px;
            color: #333;
            outline: 0;
            border: 0;
            background: transparent !important;
        }

    .select2-container-multi .select2-choices .select2-search-choice {
        margin: 3px 0 0 3px;
        position: relative;
        cursor: default;
        background-clip: padding-box;
        -webkit-touch-callout: none;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
    margin-left: 0;
    margin-right: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice > div {
    border-radius: 3px;
    color: #fff;
    padding: 7px 12px;
    padding-right: 30px;
    background-color: #222;
}

    .select2-container-multi .select2-choices .select2-search-choice > div > i {
        margin-right: 10px;
    }

.select2-container-multi .select2-choices .select2-search-choice.select2-locked > div {
    padding: 7px 12px;
}

.select2-container-multi .select2-choices .select2-search-choice[class*=bg-] > div {
    background-color: inherit;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-close {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -8px;
    line-height: 1;
    opacity: .6;
    filter: alpha(opacity=60);
}

    .select2-container-multi .select2-choices .select2-search-choice-close:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 6px;
}

.select2-container-multi .select2-choices .select2-search-choice-close:after {
    content: '\ed6b';
    font-family: 'icomoon';
    display: block;
    font-size: 16px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-container-multi[class*=bg-] .select2-choices {
    background-color: inherit;
    border-color: inherit;
}

    .select2-container-multi[class*=bg-] .select2-choices .select2-search-choice > div {
        background-color: rgba(0,0,0,0.3);
    }

.select2-container-multi[class*=border-] .select2-choices {
    border-color: inherit;
}

.select2-container-multi.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.select2-container-multi.select2-dropdown-open.select2-drop-above .select2-choices {
    border-radius: 0 0 3px 3px;
}

.select2-container-multi .select2-default, .select2-container-multi .select2-default:hover, .select2-container-multi .select2-default:focus {
    color: #999;
}

    .select2-container-multi .select2-default .select2-arrow, .select2-container-multi .select2-default:hover .select2-arrow, .select2-container-multi .select2-default:focus .select2-arrow {
        color: #333;
    }

.select2-container-multi.select2-container-disabled .select2-choices {
    cursor: default;
    background-color: #f8f8f8;
}

    .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
        color: #fff;
        opacity: .6;
        filter: alpha(opacity=60);
    }

        .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice > div {
            padding-right: 12px;
        }

        .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
            display: none;
        }

.select-lg .select2-choice {
    height: 40px;
    padding: 9px 15px;
    padding-right: 0;
    font-size: 14px;
}

    .select-lg .select2-choice abbr, .select-lg .select2-choice .select2-arrow:after {
        right: 15px;
    }

.select-lg.select2-container-multi .select2-choices .select2-search-choice > div {
    padding: 9px 15px;
    padding-right: 37.5px;
    font-size: 14px;
}

.select-lg.select2-container-multi .select2-choices .select2-search-choice-close {
    right: 12px;
}

html[dir="rtl"] .select-lg.select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 12px;
}

.select-lg.select2-container-multi .select2-choices .select2-search-field input {
    padding: 9px 15px;
}

.select-sm .select2-choice {
    height: 34px;
    padding: 6px 11px;
    padding-right: 0;
}

    .select-sm .select2-choice abbr, .select-sm .select2-choice .select2-arrow:after {
        right: 11px;
    }

.select-sm.select2-container-multi .select2-choices .select2-search-choice > div {
    padding: 6px 11px;
    padding-right: 27.5px;
}

.select-sm.select2-container-multi .select2-choices .select2-search-choice-close {
    right: 8px;
}

html[dir="rtl"] .select-sm.select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 8px;
}

.select-sm.select2-container-multi .select2-choices .select2-search-field input {
    padding: 6px 11px;
}

.select-xs .select2-choice {
    height: 32px;
    padding: 5px 10px;
    padding-right: 0;
    font-size: 12px;
    line-height: 1.6666667;
}

    .select-xs .select2-choice abbr, .select-xs .select2-choice .select2-arrow:after {
        right: 10px;
    }

.select-xs.select2-container-multi .select2-choices .select2-search-choice > div {
    padding: 5px 10px;
    padding-right: 25px;
    font-size: 12px;
}

.select-xs.select2-container-multi .select2-choices .select2-search-choice-close {
    right: 7px;
}

html[dir="rtl"] .select-xs.select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 7px;
}

.select-xs.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px 10px;
    font-size: 12px;
}

.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}


