<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendSmsMsgServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://coviet.vn/webservices/SendSmsMsg/SendSmsMsgService.asmx" binding="basicHttpBinding" bindingConfiguration="SendSmsMsgServiceSoap" contract="SmsService.SendSmsMsgServiceSoap" name="SendSmsMsgServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
