@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-insert-template{
        margin: 0px 5px;
    }
</style>
<aside class="page-aside">
    <div class="aside-content">
        <div class="aside-header">
            <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button">
                <span class="icon"><i class="fas fa-caret-down"></i></span>
            </button>
            <span class="title">File</span>
            <p class="description">Service description</p>
            <a href="#" id="ClickTest">Test</a>
        </div>
        <div class="aside-nav collapse">
            <ul class="nav">
                <li>
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#aimlmenu-1" aria-controls="aimlmenu-1">
                        <span class="arrow"></span>
                        <span class="icon">
                            <i class="fas fa-fw fa-folder-open" style="color:burlywood"></i>
                        </span>
                        AIML
                    </a>
                    <div id="aimlmenu-1" class="collapse submenu" style="">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="../dashboard-finance.html">
                                    <span class="icon">
                                        <i class="fa fa-file-code"></i>
                                    </span>
                                    default
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#mapsmenu-2" aria-controls="mapsmenu-2">
                        <span class="arrow"></span>
                        <span class="icon">
                            <i class="fas fa-fw fa-folder-open" style="color:burlywood"></i>
                        </span>Maps
                    </a>
                    <div id="mapsmenu-2" class="collapse submenu" style="">

                    </div>
                </li>
                <li>
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#setsmenu-2" aria-controls="setsmenu-2">
                        <span class="arrow"></span>
                        <span class="icon">
                            <i class="fas fa-fw fa-folder-open" style="color:burlywood"></i>
                        </span>Sets
                    </a>
                    <div id="setsmenu-2" class="collapse submenu" style="">

                    </div>
                </li>
                <li>
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#substitutionsmenu-2" aria-controls="substitutionsmenu-2">
                        <span class="arrow"></span>
                        <span class="icon">
                            <i class="fas fa-fw fa-folder-open" style="color:burlywood"></i>
                        </span>Substitutions
                    </a>
                    <div id="substitutionsmenu-2" class="collapse submenu" style="">

                    </div>
                </li>
                <li>
                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#systems-3" aria-controls="systems-3">
                        <span class="arrow"></span>
                        <span class="icon">
                            <i class="fas fa-fw fa-folder-open" style="color:burlywood"></i>
                        </span>
                        Systems
                    </a>
                    <div id="systems-3" class="collapse submenu" style="">

                    </div>
                </li>
            </ul>

            <span class="title" style="border-top:1px solid #808080">File Tranning QnA</span>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">
                        <i class="m-r-10 mdi mdi-label text-primary"></i>
                        List QnA
                    </a>
                </li>
            </ul>
            <div class="aside-compose"><a class="btn btn-lg btn-primary btn-block" href="@Url.Content("~/Home/QnA")">Create QnA</a></div>
        </div>
    </div>
</aside>
<div class="main-content container-fluid p-0">
    <div class="email-body">
        <ul class="nav nav-tabs" id="tabAttribute">
            <li class="active">
                <a href="javascript:void(0)" class="left" onclick="saveAIML()"><i class="fa fa-save" aria-hidden="true"></i></a>
                <a href="#" class="right"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a href="#aiml-legal" data-toggle="tab" class="title_attribute">default</a>
            </li>
            @*<li>
                    <a href="#" class="left"><i class="fa fa-save" aria-hidden="true"></i></a>
                    <a href="#" class="right"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <a href="#aiml-med" data-toggle="tab" class="title_attribute">med</a>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="aiml-legal">
                <div id="editorTest" class="editor-file-aiml">

                </div>
                <div class="edit_bottom">
                    <button title="Insert Category Template" data-value="category" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-magic"></i>
                    </button>
                    <button title="Insert URL Button Template" data-value="btn-url" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-circle"></i>
                    </button>
                    <button title="Insert URL Button Template" data-value="btn-postback" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-circle"></i>
                    </button>
                    <button title="Insert URL Button Template" data-value="btn-menu" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-circle"></i>
                    </button>
                    <button title="Insert Link Template" data-value="link" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-link"></i>
                    </button>
                    <button title="Insert Image Template" data-value="image" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-image"></i>
                    </button>
                    <button title="Insert Video Template" data-value="video" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-film"></i>
                    </button>
                    <button title="Insert Card Template" data-value="card" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-id-card"></i>
                    </button>
                    <button title="Insert Carousel Template" data-value="carousel" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-id-card" style="margin-right: 2px; margin-left: -5px;"></i>
                        <i class="fa fa-plus" style="margin-right: -5px;"></i>
                    </button>
                    <button title="Insert Postback Reply Template" data-value="" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-reply"></i>
                    </button>
                    <button title="Insert Typing Delay Template" data-value="" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <button title="Insert Ordered List Template" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-list-ol"></i>
                    </button>
                    <button title="Insert Bulleted List Template" class="btn btn-default btn-md btn-insert-template">
                        <i class="fa fa-list-ul"></i>
                    </button>
                    <div class="pb-emoji-menu btn btn-default btn-md">
                        <div class="pb-emoji-menu__button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                                <path fill="#333" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm84-143.4c-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.6-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8-10.2-8.4-25.3-7.1-33.8 3.1zM168 240c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="tab-pane" id="aiml-med">
                <div id="editorTest-med" class="editor-file-aiml">

                </div>
                <div class="edit_bottom">
                    <button title="Insert Category Template" class="btn btn-default btn-md" style="margin: 0px 5px;">
                        <i class="fa fa-magic"></i>
                    </button>
                    <button title="Insert URL Button Template" class="btn btn-default btn-md" style="margin: 0px 5px;">
                        <i class="fa fa-circle"></i>
                    </button>
                    <button title="Insert Postback Button Template" class="btn btn-default btn-md" style="margin: 0px 5px;">
                        <i class="fa fa-circle-o"></i>
                    </button>
                    <button title="Insert Link Template" class="btn btn-default btn-md" style="margin: 0px 5px;">
                        <i class="fa fa-link"></i>
                    </button>
                    <button title="Insert Image Template" class="btn btn-default btn-md" style="margin: 0px 5px;">
                        <i class="fa fa-image"></i>
                    </button>
                    <button title="Insert Video Template" class="btn btn-default btn-md" style="margin: 0px 5px;">
                        <i class="fa fa-film"></i>
                    </button>
                    <button title="Insert Card Template" class="btn btn-default btn-md" style="margin: 0px 5px;"><i class="fa fa-id-card"></i></button><button title="Insert Carousel Template" class="btn btn-default btn-md" style="margin: 0px 5px;"><i class="fa fa-id-card" style="margin-right: 2px; margin-left: -5px;"></i><i class="fa fa-plus" style="margin-right: -5px;"></i></button><button title="Insert Postback Reply Template" class="btn btn-default btn-md" style="margin: 0px 5px;"><i class="fa fa-reply"></i></button><button title="Insert Typing Delay Template" class="btn btn-default btn-md" style="margin: 0px 5px;"><i class="fa fa-ellipsis-h"></i></button><button title="Insert Ordered List Template" class="btn btn-default btn-md" style="margin: 0px 5px;"><i class="fa fa-list-ol"></i></button><button title="Insert Bulleted List Template" class="btn btn-default btn-md" style="margin: 0px 5px;"><i class="fa fa-list-ul"></i></button><div class="pb-emoji-menu btn btn-default btn-md"><div class="pb-emoji-menu__button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="#333" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm84-143.4c-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.6-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8-10.2-8.4-25.3-7.1-33.8 3.1zM168 240c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32z"></path></svg></div></div>
                </div>
            </div>*@
        </div>
    </div>
</div>

@*<script>
    $('body').on('click', '#ClickTest', function () {
        var params = {
            FileImageID:"1",
            FileImagePath:"abc"
        }

        params = JSON.stringify(params);


        $.ajax({
            url: "http://localhost:54160/api/file/test",
            type: 'POST',
            data: params,
            cache: false,
            processData: false,
            contentType: "application/json",
            //headers: {
            //    accept: 'application/json',
            //    contentType: 'application/json; charset=utf-8'
            //},
            dataType: "json",
            success: function (data) {
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            },
            
        })
    })
</script>*@