@{
    ViewBag.Title = "QnA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<style>
    .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: unset;
}
        .table thead th{
                padding: 0px;
        }
        .table tbody tr td{
            height: 70px;
            border-right: 2px solid #e6e6f2;

        }
        .table-responsive{
            overflow-x:unset;
        }


        /*Search label*/
        #search-label{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* center flex items inside vertically */
    width: 60px;
    height: 40px;
    z-index: 100;
}
        div#searchcontainer{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
    background: floralwhite;
    left: -100%; /* initially position search container out of view */
    top: 0px; /* shift container downwards so the header is still visible when search is shown */
    padding-top: 50px;
    opacity: 0;
    cursor: crosshair;
    text-align: center;
    font: bold 16px 'Bitter', sans-serif; /* use google font */
    -webkit-transform: scale(.9) translate3d(-0, -50px, 0);
    transform: scale(.9) translate3d(-0, -50px, 0);
    -webkit-transition: -webkit-transform .5s, opacity .5s, left 0s .5s;
    transition: transform .5s, opacity .5s, left 0s .5s;
}
 
div#searchcontainer div{
    padding: 5px;
    color: white;
}
 
div#searchcontainer form{
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    -webkit-transition: all .5s 0s;
    transition: all .5s 0s;
}
 
div#searchcontainer form textarea[type="text"]{
    width: 70%;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 10px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 15pt;
    background: floralwhite;
}
 
 
div#searchcontainer.opensearch{
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .5s, opacity .5s, left 0s 0s;
    transition: transform .5s, opacity .5s, left 0s 0s;
}
 
div#searchcontainer.opensearch form{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all .5s .5s;
    transition: all .5s .5s;
}
 
@@media (max-width: 480px){
    div#searchcontainer form textarea[type="text"]{
    width: 95%;
}
}
</style>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pageheader-title p-b-20 p-t-20">
        <div class="d-flex">
            <h5 class="pageheader-title">myapplication phapluat-bot </h5>

            <div class="toolbar ml-auto p-r-10">
                <a href="#" class="btn btn-success btn-sm "><i class="fas fa-sync-alt"></i> Save and retrain</a>
                <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i> Publish</a>
            </div>
        </div>
        <div class="d-flex">
            <div style="font-size:13px;padding-left:20px" id="search-label" for="search-terms">Search <i class="fas fa-search"></i></div>
            <div class="ml-auto" style="font-size:13px;padding-right:100px">Retrained 2 phút trước</div>
        </div>
    </div>
</div>
<div id="searchcontainer">
    <form id="search" action="#" method="post">
        <textarea type="text" name="search-terms" id="search-terms" placeholder="Tìm kiếm..."></textarea>
    </form>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header" style="background-color:lightgray">
            <div class="row">
                <div class="col-lg-6">
                    <p>KNOWLEDGE BASE | 2 QnA pairs</p>
                </div>
                <div class="col-lg-6">
                    <a href="#" style="float:right;" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-upload"></i>Import Excel</a>
                    <a href="#" style="float:right;margin-right:10px" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus-circle"></i>Add new QnA pair</a>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add QnA Marker</h5>
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </a>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Question</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Answer</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width:1%"></th>
                            <th scope="col" style="width:41%">Question</th>
                            <th scope="col" style="width:58%">Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Thuế TNCN là gì?</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Thuế GTGT là gì?</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var ismobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i) != null
    var touchorclick = (ismobile) ? 'touchstart' : 'click'
    var searchcontainer = document.getElementById('searchcontainer')
    var searchfield = document.getElementById('search-terms')
    var searchlabel = document.getElementById('search-label')

    searchlabel.addEventListener(touchorclick, function (e) { // when user clicks on search label
        searchcontainer.classList.toggle('opensearch') // add or remove 'opensearch' to searchcontainer
        if (!searchcontainer.classList.contains('opensearch')) { // if hiding searchcontainer
            searchfield.blur() // blur search field
            e.preventDefault() // prevent default label behavior of focusing on search field again
        }
        e.stopPropagation() // stop event from bubbling upwards
    }, false)

    searchfield.addEventListener(touchorclick, function (e) { // when user clicks on search field
        e.stopPropagation() // stop event from bubbling upwards
    }, false)

    document.addEventListener(touchorclick, function (e) { // when user clicks anywhere in document
        console.log(e.target.className)
        if (e.target.className != "opensearch") {
            searchcontainer.classList.remove('opensearch')
            searchfield.blur()
        }

    }, false)
</script>